<div class="toolbar"></div>


<div class="category-add contact-inner ">
    <form (ngSubmit)="onSubmit()" enctype="multipart/form-data" novalidate class="form-cate-add">
        <div class="title">
            <p class="cate-name fs-5">CHUYÊN MỤC</p>
        </div>
        <label for="name">
            <input type="text" name="typeName" id="typeName" [formControl]="catogaryControl"
                placeholder="Nhập tên chuyên mục " class="input-custom  w-100 "
                [class.borderError]="!catogaryControl.valid&&!catogaryControl.untouched"
                [class.text-input]="catogaryControl.valid||catogaryControl.untouched" required>
            <p *ngIf="!catogaryControl.valid&&!catogaryControl.untouched" class="validateText">Tên chuyên mục không thể
                bỏ trống</p>

        </label>
        <div class="submit-button" class="section-space--mt_15 mb-4">
            <button type="submit" class="btn btn-primary btn-lg btnn" [disabled]="!catogaryControl.valid">Lưu</button>
            <button type="button" class="btn btn-secondary btn-lg btnn cancel" (click)="cancel()">Hủy</button>
        </div>
    </form>
</div>