.cancel {
    background-color: #cccccc;
  
  }
  
  .cancel:hover {
    background-color: rgba(43, 43, 63, 0.85);
    color: aliceblue;
  }
  
  .btnn {
    margin-right: 15px;
  
  }
  
  input {
    border: 0.5px solid;
  }
  
  .cate-name {
    color: #212529;
    font-weight: bold;
    text-align: center;
  }
  
 
  .text-input{
    border: 1px solid #212529;
    color: black;
  }
  .input-custom{
    
    padding: 10px;
    border: 1px solid #212529;
    color: rgb(9, 9, 9);
    border-radius: 5px;
  }
  .input-select-icon{
    margin-top: 0px;
    padding: 0px 30px 20px 30px;
  }
  .borderError {
    color: black;
    margin-top: 20px;
    border: 1px solid red;
  }
  
  .borderError:focus {
    color: black;
    margin-top: 20px;
    border: 1px solid red;
  }
  
  .category-add {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
  
  }
  .title{
    padding: 20px 0;
    background-color: rgb(33,37,41,0.03);
  }
  .form-cate-add {
    background-color: #fefefe;
    margin: auto;
    width: 38%;
    max-height: 280px;
    min-height: 250px;
    border-radius: 5px;
    border: 1px solid rgb(226 226 226);
    box-shadow: 0px 0px 12px 6px rgba(0,0,0,0.06);
  }
  .validateText{
    margin-top: 15px;
    color:red;
  }
  @media screen and (max-width:1200px) {
    .form-cate-add {
      width: 50%;
    }
    }
  @media only screen and (max-width:768px) {
    .form-cate-add {
      width: 50%;
    }
    }
  @media only screen and (max-width:675px) {
  .form-cate-add {
    width: 90%;
  }
  }