<app-header></app-header>
<div class="bg-light mt-header mb-3">
    <nav aria-label="breadcrumb " class="py-3 py-2 container ">
        <ol class="breadcrumb mb-0 text-capitalize ">
          <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
          <li class="breadcrumb-item active" aria-current="page">Tìm kiếm</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="fw-bold text-search mb-1 ">Tìm Kiếm: {{searchForm.searchInput}}</p>
            <div class=" mb-md-3 mb-2 d-flex">
                <form (ngSubmit)="goToSearch(searchForm.searchInput) " #form="ngForm">
                    <label class="custom-field two ">
                        <input type="text" placeholder="Tìm kiếm..." class=" input-field " 
                        name="searchInput" [(ngModel)]="searchForm.searchInput"  />
                        <button class="btn-search" type="submit" >
                            <i class="fs-4 fa-solid fa-magnifying-glass fa-fade" ></i>
                        </button>
                        
                    </label>
                </form>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-12 mb_30"  *ngFor="let post of postList | paginate: { id: 'post',
                itemsPerPage: paging.size,
                currentPage: paging.page,
                totalItems: paging.totalRecord } ;let i = index ; " >
            <div class="single-blog-item blog-grid item-news ">
                <div class="post-feature blog-thumbnail">
                    <a class="item-img-news"  href="/tin-tuc/{{post.url}}">
                        <img class="img-fluid h-100 w-100 "
                            src="{{baseURL}}/{{postURL}}/image/{{post.id}}">
                    </a>
                </div>
                <div class="post-info lg-blog-post-info">
                    <h5 class="post-title mb-3 font-weight--bold">

                        <a class="p-title" href="/tin-tuc/{{post.url}}">{{post.title}}</a>
                    </h5>
                    <div class="post-excerpt my-3 mb-md-3 ">
                        <p class="max-3line" >{{post.description}}</p>
                    </div>
                    <div class="share text-right mt-2 ">
                        <a target="_blank"
                            href="https://www.facebook.com/"
                            class="icon-share  " title="Chia sẻ Facebook">
                            <i class="fa-brands fa-square-facebook"></i>
                        </a>
                        <a target="_blank"
                            href="https://twitter.com/"
                            class="icon-share">
                            <i class="fa-brands fa-square-x-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>


<app-footer></app-footer>