
  /* box item*/
  .single-blog-item.blog-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 32px rgba(51, 51, 51, 0.07);
  }
  .single-blog-item .post-info {
    margin-top: 20px
}
.single-blog-item.blog-grid .post-info {
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 0px 25px 20px;
}
.blog-thumbnail{
    height: 50%;
  }
  

.item-img-news:hover img{
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
  }
  .item-img-news img{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .5s ease-in-out;
    object-fit: fill;
  }
  .item-img-news{
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
  }
  .p-title{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .p-title:hover{
    color: black;
  }
  
  .post-excerpt{
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .post-excerpt p{
    margin-bottom: 0;
  }
  
  .share .icon-share {
    font-size: 14px;
    border: 0.5px solid;
    padding: 4px;
  }
  .icon-share:not(:last-child){
    margin-right: 15px;
  }
  .icon-share i{
    width: 14px;
    height: 14px;
    fill: #192a56;
  }
  .icon-share i:hover{
    fill: black;
  }
  a{
    color: #3479b2;
  }
  a:hover{
    text-decoration: none;
    color: black;
  }
  
.post-title{
    margin-bottom: 20px;
    font-size: 18px;
    color: #192a56;
    font-weight: bold;
    line-height: 1.5;
  }
  
@media (max-width:767.98px) {
    .post-info{
     padding-bottom: 25px;
    }
    .item-news{
     max-height: 400px;
   }
 }
 @media screen and (min-width: 768px) {
   .item-news{
     max-height: 550px;
   }
 }
 
    /* input css */


  .custom-field {
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
    --field-padding: 12px;
  }
  .custom-field .btn-search{
    border: none;
    background-color: #fafafa;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 1px;
    
  }
  
  .custom-field .input-field {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: var(--field-padding);
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    width: 300px;
  }
  
  
  /* TWO */
  .custom-field.two .input-field {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:
      linear-gradient(90deg, #222, #222) center bottom/0 0.15em no-repeat,
      linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
      linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
    transition: background-size 0.3s ease;
  }
  
  .custom-field.two .input-field.dirty,
  .custom-field.two .input-field:not(:placeholder-shown),
  .custom-field.two .input-field:focus {
    background-size: 100% 0.15em, 100% 0.1em, 100%;
  }
 /*  */
 .text-search{
    color: #192a56;
    font-size: 28px;
   }