<div class="toolbar">
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="formProduct" encformProducttype="multipart/form-data" class="mt_30">
    <div class="container mb_60">
        <div class="boder">
          <div class="title">
            <p class="text-title fs-5">sản phẩm</p>
          </div>
          <div class="mt_80">
            <div class="row justify-content-center">
              <div class="col-md-10 ">
                <div class="row">
                  <div class="col-md-4 ">
                    <div class="box update_box ">
                      <label class="form-label">hình ảnh</label>
                      <div class="w-100">
                        <div class="image borderInput p-0">
                          <img src="{{imageURL}}" alt="" appHideMissing *ngIf="imageURL ; else elseBlock ">
                          <ng-template #elseBlock>
                            <img src="../../../../../assets/images/placeholder.png" alt="">
                          </ng-template>
                        </div>
                        <input class="p-1 p-md-2 w-100 text-input "  accept="image/png, image/jpeg" type="file"
                          value="select" (change)="imageChange($event)">
                      </div>
                    </div>
                    <div class="mt-3 mt-md-4 mx-md-0 mx-4 ">
                        <label class="form-label"><span class="validateText">*</span>tên sản phẩm</label>
                        <input  class="input-custom  w-100 " placeholder="Nhập tên sản phẩm" type="text" formControlName="title" id="title" name="title"
                          [class.borderError]="!formProduct.controls.title.valid&&!formProduct.controls.title.untouched"
                          [class.text-input]="formProduct.controls.title.valid||formProduct.controls.title.untouched">
                        <p *ngIf="!formProduct.controls.title.valid&&!formProduct.controls.title.untouched" class="validateText">
                          Tên không thể bỏ trống</p>
                    </div>
                    <div class="mt-3 mt-md-4 mx-md-0 mx-4">
                        <label class="form-label"><span class="validateText">*</span>mô tả</label>
                        <textarea class="input-custom   w-100  " placeholder="Nhập mô tả" style="height: 120px" id="description" formControlName="description"
                          [class.borderError]="!formProduct.controls.description.valid&&!formProduct.controls.description.untouched"
                          [class.text-input]="formProduct.controls.description.valid||formProduct.controls.description.untouched"></textarea>
                        <p *ngIf="!formProduct.controls.description.valid&&!formProduct.controls.description.untouched"
                          class="validateText">Mô tả không thể bỏ trống</p>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="mt-3 mt-md-0 mx-md-0 mx-4 editor-quill ">
                      <label class="form-label"><span class="validateText">*</span>nội dung</label>
                      <quill-editor placeholder="Nhập nội dung" 
                      class="border"  [modules]="quillConfig" [(ngModel)]="products.content"
                      [ngModelOptions]="{standalone: true}"></quill-editor>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-5 col-8 col-ms-6 mt-4 mb_30 mx-auto text-center ">
                    <button type="submit" class=" mt-2 mt-sm-0 btn btn-primary btn-lg btnn"
                      [disabled]="!formProduct.valid">Lưu</button>
                    <button type="button" class=" mt-2 mt-sm-0 btn btn-secondary btn-lg  cancel"
                      (click)="backToProductList()">Hủy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </form>