
  .box{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    border-radius: 5px;
  }
  
  .text-input{
    border: 1px solid #212529;
    color: black;
  }
  .input-custom{
    
    padding: 10px;
    border: 1px solid #212529;
    color: rgb(9, 9, 9);
    border-radius: 5px;
  }
  .input-select-icon{
    margin-top: 0px;
    padding: 0px 30px 20px 30px;
  }

  .cancel{
    background-color: #cccccc;
  
  }
  .cancel:hover{
    background-color: rgba(43, 43, 63, 0.85);
  }
  

  .borderError{
    border: 1px solid red;
    color: black;
  }
  .borderError:focus{
    border: 1px solid red;
    color: black;
  }
  .validateText{
    color:red;
    margin: 0;
  }
  .text-title{
    color: #212529;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  .title{
    padding: 20px;
    background-color: rgb(33,37,41,0.03);
  }
  .boder{
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 6px rgba(0,0,0,0.06);
  }
  @media (max-width:1200px) {
    .boder{
      width: 90%;
    }
  }
  @media (max-width:1000px) {
    .boder{
      width: 100%;
    }
  }
  @media (max-width:768px) {
    .box{
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  
  /*  */
  .update_box{
    width: 100%;
  }
  .update_box:not(:last-child){
    margin-bottom: 25px;
  }
  .update_box .image{
    position: relative;
    height: 210px;
    width: 100%;
  }
  .update_box .image img{
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
  .update_box img{
    width: 100%;
    object-fit: fill;
  }
  
  .form-label{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
  }

  .editor-quill{
    display: flex;
    flex-direction: column;
  }
  
  /* mention
  .ql-mention-list-container {
    width: 270px;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 12px 0 rgba(30, 30, 30, 0.08);
  }
  
  .ql-mention-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .ql-mention-list-item {
    cursor: pointer;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    padding: 0 20px;
    vertical-align: middle;
  }
  
  .ql-mention-list-item.selected {
    background-color: #D3E1EB;
    text-decoration: none;
  }
  
  .mention {
    height: 24px;
    width: 65px;
    border-radius: 6px;
    background-color: #D3E1EB;
    padding: 3px 0;
  }
  
  .mention>span {
    margin: 0 3px;
  } */

  /* input css */

.label-custom{
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 5px;
  line-height: 40px;
  font-weight: 700;
}
.custom-field {
  position: relative;
  margin-bottom: 10px;
  display: inline-block;
  --field-padding: 12px;
}

.custom-field .input-field {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  border-radius: 3px;
  outline: none;
  font-size: 14px;
}

.custom-field .placeholder {
  position: absolute;
  left: 0px;
  width: calc(100% - (var(--field-padding) * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* top: 22px; */
  top: -15px;
  line-height: 100%;
  transform: translateY(-50%);
  /* color: #aaa; */
  color: #222;
  transition: 
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}

.custom-field .input-field.dirty + .placeholder,
.custom-field .input-field:focus + .placeholder,
.custom-field .input-field:not(:placeholder-shown) + .placeholder  {
  /* top: -10px; */
  font-weight: 700;
  color: #222;
  left: 0px;
}

/* TWO */
.custom-field.two .input-field {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background:
    linear-gradient(90deg, #222, #222) center bottom/0 0.15em no-repeat,
    linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
    linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
  transition: background-size 0.3s ease;
}

.custom-field.two .input-field.dirty,
.custom-field.two .input-field:not(:placeholder-shown),
.custom-field.two .input-field:focus {
  background-size: 100% 0.15em, 100% 0.1em, 100%;
}