<div class="toolbar">
  <div class="container">
    <!-- mobile -->
    <div class="d-lg-none d-block text-end ">
      <div class="btn-group dropstart">
        <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-bars"></i>
        </div>
        <ul class="dropdown-menu p-0">
          <li class="border p-2">
            <button routerLink="add" class="btn btnthem w-100">

              <span>Thêm</span>
            </button>
          </li>
          <li class="border p-2">
            <button class="btn bg-success w-100" *ngIf="target.active; else elseButton" (click)="hideImage(target.id)">

              <span>Ẩn ảnh</span>
            </button>
            <ng-template #elseButton>
              <button class="btn bg-warning w-100" (click)="show(target.id)">

                <span>Hiện ảnh</span>
              </button>
            </ng-template>
          </li>
          <li class="border p-2">
            <button (click)="updateSlider(target.id)" class="btn btn-primary w-100">

              <span>Sửa</span>
            </button>
          </li>
          <li class="border p-2">
            <button (click)="deleteImage(target.id)" class="btn bg-danger w-100">
              <span>Xóa</span>
            </button>
          </li>
          <li class="border p-2">
            <button title="slide" (click)="chuyenslide()" class="btn btn-info w-100">
              <span>Chuyển chế độ</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



<div class="card mb-5 mb-xl-8  mt_30 mx-4">
  <div class="card-header border-0 pt-3">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-6 mb-1">DANH SÁCH ĐIỀU HƯỚNG</span>
    </h3>
    <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Click to add a user"
      class="card-toolbar">
    </div>
  </div>
  <div class="hienthi  mt_30 ">
    <div class="row justify-content-center">
      <div class="col-md-11">
        <div class="row">
          <!--ben trai -->
          <div class="hienthi-left col-md-8 col-12 ">
            <div *ngIf="isslider; then img;else slide"></div>
            <ng-template #img>
              <div class="h-100 d-flex align-items-center ">
                <img src="{{imageURL}}" alt=""
                  [ngClass]="{'w-100':true,'h-100':true,'max-h':true,'opacity':!target.active}">
              </div>
            </ng-template>
            <ng-template #slide>
              <div class="h-100 d-flex align-items-center">
                <div id="carouselExampleInterval" class="carousel slide h-100 max-h " data-bs-ride="carousel">
                  <div class="carousel-inner ">
                    <div class="carousel-item h-100 " [class]=" i==0 ? 'active ' : '' "
                      *ngFor="let item of slider2 ; let i = index;" data-bs-interval="1500">
                      <img src="{{baseURL}}/{{sliderURL}}/image/{{item.name}}" class="h-100 w-100 " alt=""
                        (click)="choose(item)">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </ng-template>
          </div>
          <!-- ben phai -->
          <div class="hienthi-right col-md-4 col-4 d-none d-lg-block ">
            <p class="text-center chuc-nang mt-3 mb-0">Thông tin</p>
            <div class="select-content-box" style="line-height: 250%;">
              <!-- <div class="select-content-item">
                  <span><strong>Id: </strong></span>
                  <span class="span2">{{target.id}}</span>
                </div> -->
              <div class="select-content-item">
                <p class="mb-0" ><strong>Tên: </strong></p>
                <span 
                  title="{{target.originalFileName}}" >{{target.originalFileName}}</span>
              </div>

              <!--
              <div class="select-content-item">
                <span><strong>Đường dẫn: </strong></span>
                <span class="image-url-name span2" title="{{baseURL}}{{target.url}}">{{baseURL}}{{target.url}}</span>
              </div> -->

              <!-- <div class="select-content-item">
                  <span><strong>Liên kết: </strong></span>
                  <span class="span2">{{target.link}}</span>
                </div> -->

              <div class="select-content-item">
                <span><strong>Trạng thái: </strong></span>
                <div *ngIf="target.active; else elseBlock">
                  <span style="color: #50b848">
                    <i class="fa fa-dot-circle fa-xs"></i>
                  </span>
                  <span class="ml-1">Hoạt động</span>
                </div>
                <ng-template #elseBlock>
                  <p>
                    <span style="color: #efc322">
                      <i class="fa fa-dot-circle fa-xs"></i>
                    </span>
                    <span class="">Tạm ẩn</span>
                  </p>
                </ng-template>
              </div>
            </div>
            <p class="mt-0 text-center chuc-nang">Chức năng</p>
            <div class="select-content-box">
              <div class="action-box">
                <button routerLink="add" class="btn bg-success">
                  <!-- <i class="fas fa-file-plus fa-lg"></i> -->
                  <span class="color">Thêm</span>
                </button>
                <button class="btn btnsua" *ngIf="target.active; else elseButton" (click)="hideImage(target.id)">
                  <!-- <i class="far fa-eye-slash"></i> -->
                  <span class="color">Ẩn ảnh</span>
                </button>
                <ng-template #elseButton>
                  <button class="btn bg-warning color" (click)="show(target.id)">
                    <!-- <i class="far fa-eye"></i> -->
                    <span style="color: black;">Hiện ảnh</span>
                  </button>
                </ng-template>
                <button (click)="updateSlider(target.id)" class="btn btn-primary ">
                  <!-- <i class="far fa-pen"></i> -->
                  <span class="color">Sửa</span>
                </button>
                <button (click)="deleteImage(target.id)" class="btn bg-danger">
                  <!-- <i class="far fa-trash-alt"></i> -->
                  <span class="color">Xóa</span>
                </button>
                <button title="slide" (click)="chuyenslide()" class="btn btn-info">
                  <span class="text-dark" >Chuyển chế độ</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list_img row mt-4 ">
    <div class=" col-md-10 mx-auto ">
      <div class="card-body border-top ">
        <ul class="nav {{flex}} nav-pills d-flex col-md-12">
          <li class="nav-item selected " *ngFor="let slide of sliders">
            <div class="team-image "  (click)="choose(slide)"
              id="{{slide.id}}">
              <img class="img-fluid "  src="{{baseURL}}/{{sliderURL}}/image/{{slide.name}}" alt="{{slide.name}}">
              <img src="../../../../../assets/images/eye.png" class="hide-img" [ngClass]="{'d-block':!slide.active}" alt="">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="d-lg-none container">
    <div class="hienthi-right text-center">
      <p class="text-center chuc-nang mt-3 mb-0">Thông tin</p>
      <div class="select-content-box" style="line-height: 250%;">
        <div class="select-content-item">
          <p class="mb-0" ><strong>Tên: </strong></p>
          <span title="{{target.originalFileName}}">{{target.originalFileName}}</span>
        </div>
        <div class="select-content-item">
          <span><strong>Trạng thái: </strong></span>
          <div *ngIf="target.active; else elseBlock">
            <span style="color: #50b848">
              <i class="fa fa-dot-circle fa-xs"></i>
            </span>
            <span class="">Hoạt động</span>
          </div>
          <ng-template #elseBlock>
            <p>
              <span style="color: #ffc800">
                <i class="fa fa-dot-circle fa-xs"></i>
              </span>
              <span class="">Tạm ẩn</span>
            </p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>