<div class="d-none d-xl-block ">
<div class=" bg-light mt_60 ">
    <div class="container pt_40 pb_60 ">
        <div class="row align-items-center">
            <div class="col-lg-5  order-lg-last " [@myAnimation]="animationState" >
                <div class=" border-bottom  mb-3 title-service text-center text-lg-start">đội ngũ nghiên cứu</div>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                    amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus
                    clita duo justo et tempor eirmod magna dolore erat amet</p>
                    <div class="text-center  mt_30 " >
                        <a class=" see-more " href="gioi-thieu/thanh-vien">xem thêm</a>
                    </div>
            </div>
            <div class="col-lg-7 mt-lg-0 mt-4 " [@myAnimation2]="animationState" >
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                                <div class="team-item bg-white text-center rounded p-4 pt-0">
                                    <img class="img-fluid rounded-circle p-4" src="/assets/images/team-1.jpg" alt="">
                                    <h5 class="mb-0">Boris Johnson</h5>
                                    <small>Thành viên</small>
                                    <div class="d-flex justify-content-center mt-3">
                                        <a href="gioi-thieu/thanh-vien/chi-tiet">
                                            <button class="btn btn-primary m-1 btn-see-more ">xem chi tiết</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                                <div class="team-item bg-white text-center rounded p-4 pt-0">
                                    <img class="img-fluid rounded-circle p-4" src="/assets/images/team-1.jpg" alt="">
                                    <h5 class="mb-0">Boris Johnson</h5>
                                    <small>Thành viên</small>
                                    <div class="d-flex justify-content-center mt-3">
                                        <a href="gioi-thieu/thanh-vien/chi-tiet">
                                            <button class="btn btn-primary m-1 btn-see-more ">xem chi tiết</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="d-block d-xl-none">
    <div class=" bg-light mt_60 ">
        <div class="container pt_40 pb_60 ">
            <div class="row align-items-center">
                <div class="col-lg-5  order-lg-last ">
                    <div class=" border-bottom  mb-3 title-service text-center text-lg-start">đội ngũ nghiên cứu</div>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                        amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus
                        clita duo justo et tempor eirmod magna dolore erat amet</p>
                        <div class="text-center  mt_30 " >
                            <a class=" see-more " href="gioi-thieu/thanh-vien">xem thêm</a>
                        </div>
                </div>
                <div class="col-lg-7 mt-lg-0 mt-4 ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="/assets/images/team-1.jpg" alt="">
                                        <h5 class="mb-0">Boris Johnson</h5>
                                        <small>Thành viên</small>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a href="gioi-thieu/thanh-vien/chi-tiet">
                                                <button class="btn btn-primary m-1 btn-see-more ">xem chi tiết</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="/assets/images/team-1.jpg" alt="">
                                        <h5 class="mb-0">Boris Johnson</h5>
                                        <small>Thành viên</small>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a href="gioi-thieu/thanh-vien/chi-tiet">
                                                <button class="btn btn-primary m-1 btn-see-more ">xem chi tiết</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>