.title{
    text-transform: capitalize;
        color: #192a56;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
}

  a{
    color: #192a56;
  }
  a:hover{
    text-decoration: none;
    color: black;
  }

  
  .p-title{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
  }
  .p-title:hover{
    color: black;
    text-decoration: underline;
  }
  

  /* thêm */
  .single-blog-item.blog-grid {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 5px 4px rgb(51 51 51 / 22%);
  }
  .single-blog-item .post-info {
    margin-top: 20px
}
.single-blog-item.blog-grid .post-info {
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 0px 28px 25px;
}


.item-img-news:hover img{
    -webkit-transform: scale(1.4);
	transform: scale(1.4);
  }
  .item-img-news img{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .5s ease-in-out;
  }
  .item-img-news{
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
  }


.see-more{
    text-transform: capitalize;
    color: white;
    background-color: #192a56;
    padding: 10px  20px ;
    border-radius: 25px;
}
.post-read-more .see-more:hover{
    color: #192a56 ;
    background: rgb(255, 255, 255);
    border: 1px solid #192a56;
}
@media (max-width:767.8px) {
  .item-img-news img{
    max-height: 220px;
  }
}
@media screen and (min-width: 768px) {
  .item-img-news img{
    max-height: 220px;
  }
  
}

/* select */
select {
  appearance: none;
  border: 0;
  outline: 0;
  background: none;
  color: inherit;
  box-shadow: none;
}
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 100%;
  background:  linear-gradient(to left, #97999c 3rem, #a0a8af 3rem);
  border-radius: 0.25rem;
  overflow: hidden;
  &:hover::after {
    color: #192a56;
    animation: bounce 0.5s infinite;
  }
}
.select::after{
  content: "\25BC";
  position: absolute;
  right: 1rem;
  color: #fff;
  top: 1rem;
  transition: 0.25s all ease;
  pointer-events: none; 
}
select {
  color: #fff;
  flex: 1;
  padding: 1em;
  cursor: pointer;
}
option{
  color: #000000;
  padding: 15px;
  width: 100%;
}

@keyframes bounce {
  25% {
    transform: translatey(5px);
  }
  75% {
    transform: translatey(-5px);
  }
}

/* custom input year */
.input-group-append {
  cursor: pointer;
}

/* custom input css */
.custom-field {
  position: relative;
  font-size: 14px;
  margin-bottom: 1.5rem;
  display: inline-block;
  --field-padding: 12px;
}
.custom-field .btn-icon-search{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2px;
  height: 45px;
  border: none;
  background-color: white;
}
.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 100%;
  outline: none;
  font-size: 14px;
}

.custom-field .placeholder {
  position: absolute;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 50%;
  font-size: 16px;
  line-height: 1.5;
  transform: translateY(-50%);
  color: #aaa;
  transition: 
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}

/* ONE */
.custom-field.one input {
  background: none;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease;
}

.custom-field.one input + .placeholder {
  left: 8px;
  padding: 0 5px;
}

.custom-field.one input.dirty,
.custom-field.one input:not(:placeholder-shown),
.custom-field.one input:focus {
  border-color: #222;
  transition-delay: 0.1s
}

.custom-field.one input.dirty + .placeholder,
.custom-field.one input:not(:placeholder-shown) + .placeholder,
.custom-field.one input:focus + .placeholder {
  top: 0;
  font-size: 16px;
  color: #222;
  background: #fff;
  width: auto
}

