.box-icon{
    background-color: #009dff;
    color: whitesmoke;
    display: inline-block;
    position: absolute;
    /* top: 0; */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    font-size: 48px;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
    transition: background-color 0.3s ease 0s;
  }
  .box{
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #eee;
  }
  .text-input{
    border: 1px solid #50b848;
    color: black;
  }
  .input{
    margin-top: 70px;
    padding: 0px 20px 20px 20px;
  }
  .btnn {
    margin-right: 15px;
  
  }
  .cancel{
    background-color: #cccccc;
  
  }
  .cancel:hover{
    background-color: rgba(43, 43, 63, 0.85);
  }
  
  
  select,option{
    font-family: fontAwesome
  }
  .borderError{
    border: 1px solid red;
    color: black;
  }
  .borderError:focus{
    border: 1px solid red;
    color: black;
  }
  .validateText{
    margin-top: 10px;
    color:red;
  }
  .text-title{
    color: #212529;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  .title{
    padding: 20px;
    background-color: rgb(33,37,41,0.03);
  }
  .boder{
    margin: auto;
    /* width: 79%; */
    border-radius: 5px;
    border: 1px px solid rgb(226 226 226);
    box-shadow: 0px 0px 12px 6px rgba(0,0,0,0.06);
  }
  @media (max-width:1200px) {
    .boder{
      width: 90%;
    }
  }
  @media (max-width:1000px) {
    .boder{
      width: 100%;
    }
  }
  @media (max-width:768px) {
    .box{
      margin-top: 30px;
    }
  }

  /*  */
  .des-text{
    height: 130px;
  }
  .input-form{
    background:none !important;
    border-color:rgb(94, 76, 39) !important  ;
  }
  .input-form:focus{
    box-shadow: unset !important;
  }