<app-header></app-header>
<!-- slide -->
<app-slider-home></app-slider-home>
<!-- giới thiệu -->
<app-aboutus-home></app-aboutus-home>
<!-- con số tiêu biểu -->
<app-typical-number-home></app-typical-number-home>
<!-- dự án-->
<app-services-out-home></app-services-out-home>
<!-- sản phẩm -->
<app-product-home></app-product-home>
<!-- hình ảnh nổi bật -->
<app-typical-image-home></app-typical-image-home>
<!-- thành viên -->
<app-member-home></app-member-home>
<!-- tại sao chọn book-easy -->
<app-why-choose></app-why-choose>

<app-footer></app-footer>

