<app-header></app-header>
<!-- slide -->
<app-slider-home></app-slider-home>
<!-- giới thiệu -->
<app-aboutus-home></app-aboutus-home>
<!-- con số tiêu biểu -->
<app-typical-number-home></app-typical-number-home>
<!-- dịch vụ -->
<app-services-out-home></app-services-out-home>



<!-- địa điểm thịnh hành -->
<app-popular-location-home></app-popular-location-home>
<!-- Khám phá thêm nhà cho thuê du lịch -->
<app-accommodation-cate-home></app-accommodation-cate-home>
<!-- chỗ nghỉ nổi bật -->
<app-hotel-list-home></app-hotel-list-home>
<!-- tại sao chọn book-easy -->
<app-why-choose></app-why-choose>

<app-footer></app-footer>

