/*-----------------------
  Room Details Section
-------------------------*/

.banner{
    width: 100%;
    height: 100%;
}
.banner img{
	width: 100%;
	min-height: 180px;
}


.room-details-item {
	margin-bottom: 50px;
}
.room-details-item img {
	margin-bottom: 40px;
}
.room-details-item .rd-text .rd-title {
	overflow: hidden;
	margin-bottom: 8px;
}
.room-details-item .rd-text .rd-title h3 {
	color: #19191a;
	float: left;
}

.room-details-item .rd-text h2 {
	color: #dfa974;
	font-weight: 700;
	margin-bottom: 25px;
}
.room-details-item .rd-text h2 span {
	font-family: "Cabin", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #19191a;
}
.room-details-item .rd-text table {
	margin-bottom: 32px;
}
.room-details-item .rd-text table tbody tr td {
	font-size: 16px;
	color: #19191a;
	line-height: 36px;
}
.room-details-item .rd-text table tbody tr td.r-o {
	width: 120px;
	color: #707079;
}
.room-details-item .rd-text p {
	color: #707079;
}
.room-details-item .rd-text p.f-para {
	margin-bottom: 22px;
}

/* booking */

.contact-form input {
	width: 100%;
	height: 50px;
	border: 1px solid #e1e1e1;
	font-size: 16px;
	color: #aaaab3;
	padding-left: 25px;
	margin-bottom: 28px;
}
.contact-form input::-webkit-input-placeholder {
	color: #aaaab3;
}
.contact-form input::-moz-placeholder {
	color: #aaaab3;
}
.contact-form input:-ms-input-placeholder {
	color: #aaaab3;
}
.contact-form input::-ms-input-placeholder {
	color: #aaaab3;
}
.contact-form input::placeholder {
	color: #aaaab3;
}
.contact-form textarea {
	width: 100%;
	height: 150px;
	border: 1px solid #e1e1e1;
	font-size: 16px;
	color: #aaaab3;
	padding-left: 25px;
	padding-top: 12px;
	margin-bottom: 33px;
	resize: none;
}
.contact-form textarea::-webkit-input-placeholder {
	color: #aaaab3;
}
.contact-form textarea::-moz-placeholder {
	color: #aaaab3;
}
.contact-form textarea:-ms-input-placeholder {
	color: #aaaab3;
}
.contact-form textarea::-ms-input-placeholder {
	color: #aaaab3;
}
.contact-form textarea::placeholder {
	color: #aaaab3;
}
/* input */
.searchinput{
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #F6F9FC;
    height: 30px;
    width: 100%;
    padding: 20px;
    outline: none;
    color: #19191a !important;
    margin-bottom: 10px !important;
   } 
   /* input */
.searchinput:focus{
    border: 1px solid #dfa974 !important;
}

.btn-search{
    border: 1px solid #dfa974;
    padding: 10px 20px;
    background:  #dfa974;
    color: white;
    border-radius: 5px;

   }
   .btn-search:hover{
    background: rgb(255, 255, 255);
    color: #dfa974;
   }
