<app-header></app-header>

<div class="banner">
    <img  src="assets/images/room/room-detail.jpg" alt="">
</div>


<!-- Room Details Section Begin -->
<section class="room-details-section spad mt_60 mb_60  ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="room-details-item">
                    <div class="rd-text">
                        <div class="rd-title">
                            <h3>Premium King Room</h3>
                            
                        </div>
                        <h2>159$<span>/Pernight</span></h2>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="r-o">Size:</td>
                                    <td>30 ft</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Capacity:</td>
                                    <td>Max persion 5</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Bed:</td>
                                    <td>King Beds</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Services:</td>
                                    <td>Wifi, Television, Bathroom,...</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="f-para">Motorhome or Trailer that is the question for you. Here are some of the
                            advantages and disadvantages of both, so you will be confident when purchasing an RV.
                            When comparing Rvs, a motorhome or a travel trailer, should you buy a motorhome or fifth
                            wheeler? The advantages and disadvantages of both are studied so that you can make your
                            choice wisely when purchasing an RV. Possessing a motorhome or fifth wheel is an
                            achievement of a lifetime. It can be similar to sojourning with your residence as you
                            search the various sites of our great land, America.</p>
                        <p>The two commonly known recreational vehicle classes are the motorized and towable.
                            Towable rvs are the travel trailers and the fifth wheel. The rv travel trailer or fifth
                            wheel has the attraction of getting towed by a pickup or a car, thus giving the
                            adaptability of possessing transportation for you when you are parked at your campsite.
                        </p>
                    </div>
                </div>
                <app-reviews></app-reviews>
                <app-review-add></app-review-add>
            </div>
            <div class="col-lg-4">
                <div class="room-booking mt-5 mt-lg-0 ">
                    <h3>Liên hệ đặt phòng</h3>
                    <form action="#" class="contact-form mb_80 ">
                        <div class="row">
                            <div class="col-md-12">
                                <span>Họ và tên:</span>
                                <input class="searchinput" type="text" placeholder="Nhập tên">
                            </div>
                            <div class="col-md-12">
                                <span>Email:</span>
                                <input class="searchinput" type="email" placeholder="Nhập email">
                            </div>
                            <div class="col-md-12">
                                <span>Số điện thoại:</span>
                                <input class="searchinput" type="tel" placeholder="Nhập số điện thoại">
                            </div>
                            <div class="col-md-12">
                                <button class="btn-search  w-100" type="submit">Đặt Phòng</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Room Details Section End -->

<app-footer></app-footer>