<div class="review-add">
    <h5 class="mb-3 fw-bold  ">Đánh giá</h5>
    <form action="#" class="ra-form">
        <div class="row">
            <div class="col-lg-12">
                <input type="text" placeholder="Tên*">
            </div>
            
            <div class="col-lg-12">
                <div class="d-flex align-items-center mb-4 ">
                    <div class="text-rate me-3 ">Chất lượng dịch vụ:</div>
                    <select  class="form-select w-75 rate " aria-label="Default select example">
                        <option selected>Đánh giá</option>
                        <option value="1">rất tốt</option>
                        <option value="2">tốt</option>
                        <option value="3">Three</option>
                      </select>
                </div>
                <textarea placeholder="Nhập đánh giá của bạn"></textarea>
                <button class="btn-gui" type="submit">Gửi</button>
            </div>
        </div>
    </form>
</div>