<div class="slider-booking">
    <div class="book animation container pb_100 ">
        <div class="row justify-content-end ">
            <div class="col-md-6 text-start">
                <div class="booking-form">
                    <h3 class="name-hotel">Sun Hotel</h3>
                    <p class="mb-1">Xin Chào: <span>tên user</span></p>
                    <p>Mời Bạn Đặt phòng </p>
                    <form action="#">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="check-date">
                                    <p>Từ ngày:</p>
                                    <input type="date" class="searchinput "  name="startTime">
                                </div>
                                <div class="check-date">
                                    <p>Từ ngày:</p>
                                    <input type="date" class="searchinput "  name="startTime">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="select-option">
                                    <p >Loại phòng:</p>
                                    <select class="form-select cate-room " aria-label="Default select example">
                                        <option selected>Loại phòng</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="select-option">
                                    <p >Số lượng phòng:</p>
                                    <input class="searchinput " (keypress)="numberOnly($event)" type="number" min="1" max="9" placeholder="Nhập số lượng phòng " >
                                </div>
                            </div>
                        </div>
                        <button class="btn-search  w-100" type="submit">Tìm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>