.slider-booking{
	background:url('/assets/images/hero/hero-2.jpg') ;
}

.book{
	padding-top: 120px;
}

.booking-form{
    background: #ffffff;
    padding: 30px 40px;
    border-radius: 4px;
}
.booking-form .name-hotel{
    text-align: center;
}
.booking-form .check-date , .select-option{
    margin-bottom: 1rem;
}
.searchinput{
    border-radius: 5px;
    align-items: center;
    background-color: #EAEFF4;
    border: 1px solid #F6F9FC;
    height: 30px;
    width: 100%;
    padding: 20px;
    outline: unset;
   } 
   .cate-room{
    padding: 10px 20px;
    outline: unset;
    background-color: #EAEFF4;
    border: 1px solid #F6F9FC;
   }
   .form-select:focus{
    box-shadow: unset;
    border: unset;
   }

   .cate-room option{
    padding: 10px 10px;
   }
   .btn-search{
    background: rgb(255, 255, 255);
    padding: 10px 20px;
    border: 1px solid #dfa974;
    color: #dfa974;
    border-radius: 5px;
   }
   .btn-search:hover{
    background:  #dfa974;
    color: white;
   }

/* animation */
/* animation */

@keyframes bounceIndown { 
    20% ,40% , 60% { 
        opacity: 0; 
        transform: translateY(-200px); 
    } 
    80% { 
        transform: translateY(10px); 
    } 
    100% {
        opacity: 1;
        transform: translateY(0); 
    } 
  } 
  
  .animation { 
    animation-name: bounceIndown; 
    animation-duration: 1.5s;
  }
  