<div class="container vh-100">
  <div class="row h-100 justify-content-center ">
    <div class="col-md-6 order-md-last ">
      <div class="signup pt_60 px-4 ">
        <p class="text-home"><a href="#"><i class="fas fa-house me-1 "></i>Trang chủ</a></p>
        <h3 class="text"> Đăng ký </h3>
        <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"  >
          <div *ngIf="isSignUpFailed" class="alert-danger fs-6 text-danger mb-2">{{errorMessage}}</div>
          <div *ngIf="isSuccessful" class="alert-success fs-6 text-success mb-2">{{errorMessage}}</div>
          <div class="input form-group  ">
            <label class="label" >Họ</label>
            <input class="form-control" [(ngModel)]="form.firstName" type="text"  name="firstName" placeholder="Họ">
          </div>
          <div class="input  form-group  ">
            <label class="label" >Tên</label>
            <input class="form-control" type="text" [(ngModel)]="form.lastName" name="lastName" placeholder="Tên">
          </div>
          <div class="input form-group ">
            <label class="label" >tài khoản</label>
            <input class="form-control" type="text" [(ngModel)]="form.username" name="username" placeholder="Tài khoản"
             required>
          </div>
          <div class="input  form-group  ">
            <label class="label" >email</label>
            <input class="form-control" type="text" [(ngModel)]="form.email" name="email" placeholder="Email" required>
          </div>
          <div class="input form-group ">
            <label class="label" >mật khẩu</label>
            <input class="form-control" type="password" [(ngModel)]="form.password" name="password"
              placeholder="Mật khẩu" required>
          </div>
          <button type="submit" class="btn-sign-up mb-2 ">ĐĂNG KÝ</button>
          <div>
            <span class="me-2">Bạn đã có tài khoản?</span>
            <a href="/login">Đăng nhập</a>
          </div>
        </form>
      </div>
    </div>
    <!-- <div class="col-md-6 bg mt-md-0 mt-4">
      <div class=" px-4 pt_60 ">
        <h4>Chào mừng đến với Book-Easy</h4>
        <p class="text-white">Công ty Cổ phần EcoIT được đăng ký thành lập vào ngày 29/09/2010 là một
          Công ty tin học chuyên cung cấp phần mềm, dịch vụ, hệ thống và các giải pháp
          về Công nghệ thông tin được sáng lập và lãnh đạo bởi các chuyên gia quản lý, chuyên
          gia công nghệ có kinh nghiệm lâu năm trong các lĩnh vực Công nghệ thông tin có cùng ý tưởng đến từ nhiều tổ
          chức, doanh nghiệp trong các lĩnh vực khác nhau.</p>
      </div>
    </div> -->
  </div>
</div>