<div class="d-xl-block d-none ">
    <div class="mt_100" [@myAnimation]="animationState">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 wow  order-last order-md-first  ">
                    <div class="vide-about ">
                        <iframe width="100%" height="450" src="https://www.youtube.com/embed/CrWLtQLVnno"
                            title="Khám phá trường học - Những cái nhất ở Trường ĐH Giao thông Vận tải" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-6 wow ">
                    <div class="title-about-us border-bottom mb-3 mt-0 mt-md-0">về chúng tôi</div>
                    <div class="des-about-us">
                        <p class="mb-4">
                            Phòng thí nghiệm UAV là một cơ sở nghiên cứu và phát triển chuyên về máy bay không người lái
                            (UAV).
                            Phòng thí nghiệm UAV đóng một vai trò quan trọng trong việc thúc đẩy sự phát triển của công
                            nghệ
                            UAV. Các nghiên cứu và phát triển được thực hiện trong phòng thí nghiệm UAV giúp cải thiện
                            hiệu suất, tính năng
                            và độ an toàn của UAV, từ đó mở rộng các ứng dụng của UAV trong nhiều lĩnh vực khác nhau,
                            bao gồm quân sự, dân sự và y tế. </p>
                        <p class="mb-4">Phòng thí nghiệm này được trang bị các thiết bị hiện đại để
                            thực hiện các thử nghiệm và nghiên cứu về các khía cạnh khác nhau của UAV, bao gồm:</p>
                    </div>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Thiết kế và chế tạo</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Hệ thống điều khiển</h6>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Thiết kế và chế tạo</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>An toàn và bảo mật</h6>
                        </div>
                    </div>
                    <div class="d-flex align-items-center  justify-content-center mt_30 mb-md-0 mb-4">
                        <a class=" see-more me-3" href="">xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-xl-none d-block ">
    <div class="mt_100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 wow  order-last order-md-first  ">
                    <div class="vide-about ">
                        <iframe width="100%" height="450" src="https://www.youtube.com/embed/CrWLtQLVnno"
                            title="Khám phá trường học - Những cái nhất ở Trường ĐH Giao thông Vận tải" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-6 wow ">
                    <div class="title-about-us border-bottom mb-3 mt-0 mt-md-0">về chúng tôi</div>
                    <div class="des-about-us">
                        <p class="mb-4">
                            Phòng thí nghiệm UAV là một cơ sở nghiên cứu và phát triển chuyên về máy bay không người lái
                            (UAV).
                            Phòng thí nghiệm UAV đóng một vai trò quan trọng trong việc thúc đẩy sự phát triển của công
                            nghệ
                            UAV. Các nghiên cứu và phát triển được thực hiện trong phòng thí nghiệm UAV giúp cải thiện
                            hiệu suất, tính năng
                            và độ an toàn của UAV, từ đó mở rộng các ứng dụng của UAV trong nhiều lĩnh vực khác nhau,
                            bao gồm quân sự, dân sự và y tế. </p>
                        <p class="mb-4">Phòng thí nghiệm này được trang bị các thiết bị hiện đại để
                            thực hiện các thử nghiệm và nghiên cứu về các khía cạnh khác nhau của UAV, bao gồm:</p>
                    </div>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Thiết kế và chế tạo</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Hệ thống điều khiển</h6>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Thiết kế và chế tạo</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>An toàn và bảo mật</h6>
                        </div>
                    </div>
                    <div class="d-flex align-items-center  justify-content-center mt_30 mb-md-0 mb-4">
                        <a class=" see-more me-3" href="">xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>