<div class="d-xl-block d-none ">
    <div class="mt_100" [@myAnimation]="animationState">
        <div class="container">
            <div class="row ">
                <div class="col-md-6 wow  order-last order-md-first  ">
                        <figure class="w-100 h-100 " [innerHTML]="linkVideo" ></figure>
                </div>
                <div class="col-md-6 wow ">
                    <div class="title-about-us border-bottom mb-3 mt-0 mt-md-0">về chúng tôi</div>
                    <div class="des-about-us" [innerHTML]="des" ></div>
                    <div class="d-flex align-items-center  justify-content-center mt_30 mb-md-0 mb-4">
                        <a class=" see-more me-3" href="">xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-xl-none d-block ">
    <div class="mt_100">
        <div class="container">
            <div class="row ">
                <div class="col-md-6 wow  order-last order-md-first  ">
                        <figure class="w-100" style="height: 250px;"  [innerHTML]="linkVideo" ></figure>
                        
                </div>
                <div class="col-md-6 wow ">
                    <div class="title-about-us border-bottom mb-3 mt-0 mt-md-0">về chúng tôi</div>
                    <div class="des-about-us" [innerHTML]="des" ></div>
                    <div class="d-flex align-items-center  justify-content-center mt_30 mb-md-0 mb-4">
                        <a class=" see-more me-3" href="">xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>