
<div class="container room-home mt_100 ">
    <div class="row">
        <div class="col-md-12 text-center">
            <p class="section-title">
                 <span class="border-bottom pb-2 text-uppercase fw-bold " >
                    điểm đến thịnh hành
                 </span> 
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-6 ">
            <a href="/tim-kiem">
                <div class="item-room mt-lg-0 mt-md-4 mt-5 ">
                    <img src="/assets/images/room/room-b1.jpg" alt="Avatar" class="image">
                    <div class="text-title-item">
                        <h6>hà nội</h6>
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <h6>hà nội</h6>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Chỗ ở:</td>
                                        <td>+3000</td>
                                    </tr>
                                    <!-- <tr>
                                        <td class="r-o">Mô tả:</td>
                                        <td>Max p ersion 5 ersion 5</td>
                                    </tr> -->
                                </tbody>
                            </table>
                            <a href="/tim-kiem" class="more-detail ">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-6 ">
            <a href="/tim-kiem">
                <div class="item-room mt-lg-0 mt-md-4 mt-5 ">
                    <img src="/assets/images/room/room-b1.jpg" alt="Avatar" class="image">
                    <div class="text-title-item">
                        <h6>Hải dương</h6>
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <h6>hà nội</h6>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Chỗ ở:</td>
                                        <td>+300</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Mô tả:</td>
                                        <td>Max persion 5</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="/tim-kiem" class="more-detail ">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-6 ">
            <a href="/tim-kiem">
                <div class="item-room mt-lg-0 mt-md-4 mt-5 ">
                    <img src="/assets/images/room/room-b1.jpg" alt="Avatar" class="image">
                    <div class="text-title-item">
                        <h6>hồ chí minh</h6>
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <h6>hồ chi minh</h6>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Chỗ ở:</td>
                                        <td>+300</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Mô tả:</td>
                                        <td>Max persion 5</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="tim-kiem" class="more-detail ">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-6 ">
            <a href="tim-kiem">
                <div class="item-room mt-lg-0 mt-md-4 mt-5 ">
                    <img src="/assets/images/room/room-b1.jpg" alt="Avatar" class="image">
                    <div class="text-title-item">
                        <h6>hải phòng</h6>
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <h6>hà nội</h6>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Chỗ ở:</td>
                                        <td>+300</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Mô tả:</td>
                                        <td>Max persion 5</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="tim-kiem" class="more-detail ">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-6 ">
            <a href="tim-kiem">
                <div class="item-room mt-lg-0 mt-md-4 mt-5 ">
                    <img src="/assets/images/room/room-b1.jpg" alt="Avatar" class="image">
                    <div class="text-title-item">
                        <h6>hải phòng</h6>
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <h6>hà nội</h6>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Chỗ ở:</td>
                                        <td>+300</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Mô tả:</td>
                                        <td>Max persion 5</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="tim-kiem" class="more-detail ">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-6 ">
            <a href="tim-kiem">
                <div class="item-room mt-lg-0 mt-md-4 mt-5 ">
                    <img src="/assets/images/room/room-b1.jpg" alt="Avatar" class="image">
                    <div class="text-title-item">
                        <h6>hải phòng</h6>
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <h6>hà nội</h6>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Chỗ ở:</td>
                                        <td>+300</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Mô tả:</td>
                                        <td>Max persion 5</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="tim-kiem" class="more-detail ">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
</div>