<div class="rd-reviews">
    <div class="title-review">đánh giá phòng nghỉ</div>
    <div class="review-item">
        <div class="ri-pic">
            <img src="assets/images/avt.jpg" alt="">
        </div>
        <div class="ri-text">
            <span>27 Aug 2019</span>
            <div class="rating">
                <i class="icon_star"></i>
                <i class="icon_star"></i>
                <i class="icon_star"></i>
                <i class="icon_star"></i>
                <i class="icon_star-half_alt"></i>
            </div>
            <h5>Brandon Kelley</h5>
            <p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci velit, sed quia non numquam eius modi tempora. incidunt ut labore et dolore
                magnam.</p>
        </div>
    </div>
    <div class="review-item">
        <div class="ri-pic">
            <img src="assets/images/avt.jpg" alt="">
        </div>
        <div class="ri-text">
            <span>27 Aug 2019</span>
            <div class="rating">
                <i class="icon_star"></i>
                <i class="icon_star"></i>
                <i class="icon_star"></i>
                <i class="icon_star"></i>
                <i class="icon_star-half_alt"></i>
            </div>
            <h5>Brandon Kelley</h5>
            <p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci velit, sed quia non numquam eius modi tempora. incidunt ut labore et dolore
                magnam.</p>
        </div>
    </div>
</div>