.menu-item {
	position: relative;
	z-index: 9;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.menu-item .nav-menu {
	text-align: end;
}
.menu-item .nav-menu .mainmenu {
	display: inline-block;
}
.menu-item .nav-menu .mainmenu ul{
    padding: 0px;
    margin: 0px;
}
.menu-item .nav-menu .mainmenu li {
	list-style: none;
	display: inline-block;
	/* position: relative;
	z-index: 1; */
}
.menu-item .nav-menu .mainmenu li.active a:after {
	opacity: 1;
}
.menu-item .nav-menu .mainmenu li:hover>a:after {
	opacity: 1;
}
.menu-item .nav-menu .mainmenu li:hover .dropdown {
	top: 32px;
	opacity: 1;
	visibility: visible;
}
.menu-item .nav-menu .mainmenu li a {
	font-size: 16px;
	color: #000000;
	font-weight: 500;
	display: inline-block;
	padding: 0px 0;
	position: relative;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.item-menu:hover{
    cursor: pointer;
} 

.menu-item .nav-menu .mainmenu li .dropdown {
	position: absolute;
    left: -50%;
    top: 45px;
    padding: 0px;
	width: 180px;
	background: #ffffff;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-box-shadow: 0px 9px 15px rgba(25, 25, 26, 0.05);
	box-shadow: 0px 9px 15px rgba(25, 25, 26, 0.05);
}
.menu-item .nav-menu .mainmenu li .dropdown li {
	list-style: none;
	display: block;
}
.menu-item .nav-menu .mainmenu li .dropdown li a {
	font-size: 16px;
	color: #dfa974;
	display: block;
	text-align: left;
	padding: 8px 15px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.menu-item .nav-menu .mainmenu li .dropdown li a:hover {
	color: #ffffff;
    background-color: #dfa974;
}
.menu-item .nav-menu .mainmenu li .dropdown li a:after {
	display: none;
}
/*  */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #192a56;
    display: block;
    transition: top 0.3s;
    z-index: 50;
}


/* header2 */
.header-top{
    height: 115px;
}
.name-web{
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}
.name-viet{
    margin-bottom: 5px;
}


/*** Navbar ***/
.sticky-top {
    top: -150px;
    transition: .5s;
}

.navbar {
    padding: 0 !important;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.nav-item:not(:last-child){
    margin-right: 35px;
}
.nav-item{
    text-transform: capitalize;
}
.item-cus{
    border-radius: 0px !important;
    padding: 10px 10px;
}
.item-cus:hover{
    background-color: #5e88ec;
    color: white;
}
@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}
/* mobile */

.header-right #main a{
    cursor: pointer;
}
.mobile .header-right #main{
    font-size: 25px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(119, 119, 119);
    padding: 0px  5px;
    border-radius: 3px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 60;
    top: 0;
    left: 0;
    background-color: #192a56;
    overflow: hidden;
    transition: 0.5s;
}
.sidenav .item-menu {
    padding: 8px 8px 8px 22px;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    text-transform: capitalize;
}
.border-mobile:not(:last-child){
    border-bottom: 1px solid rgba(202, 202, 202, 0.638) ;
}
.sidenav-close {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
}
.sidenav .closebtn:hover {
    color: #000000;
}

.sidenav .closebtn {
    font-size: 30px;
    color: #ffffff;
}

#main {
    transition: margin-left .5s;
}
.submenu {
    display: none;
  }
  
  .menu-items li:hover .submenu {
    display: block;
  }
  .mobile-menu li{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 9px 10px 0px 10px;
    background: antiquewhite;
    border-radius: 5px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .mobile-menu li ul{
    padding: 0;
  }
  .mobile-menu li:not(:last-child){
    border-bottom:  1px dashed #5c5a5ab1; 
  }

  .mobile-menu li a, .mobile-menu li input {
    font-size: 14px;
    color: black;
    font-weight: 500;
  }

.item-child-mobile{
    
}
.btn-item-menu-mobile{
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    text-transform: capitalize;
    background: #192a56;
    transition: 0.3s;
    padding: 8px 8px 8px 22px !important;
}

.btn-item-menu-mobile:focus{
    box-shadow: unset;
}
.menu-child-mobile{
    padding-right: 0px;
    padding-left: 32px;
    padding-top: 0;
    padding-bottom: 0;
}
.item-cus-mobile{
    border-radius: 0px !important;
    padding: 10px 10px;
    font-size: 14px;
    text-transform: capitalize;
}
.item-cus-mobile:not(:last-child){
    border-bottom: 1px solid rgba(202, 202, 202, 0.638);
}
.accordion-button::after{
    background-color: white;
}

/*  

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}*/

.navbar-nav .nav-link:visited, .nav-link:link {
    color: rgba(255, 255, 255, .7);;
  }

.navbar .navbar-nav .nav-link {
    padding: 16px 10px;
    /* color: rgba(255, 255, 255, .7); */
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 1);
}
.navbar .navbar-nav  .nav-item:active{
    color: rgba(255, 255, 255, 1)
}