 

<header>
    <div class="header-section d-lg-block d-none ">
        <div class="container h-100">
            <div class="menu-item">
                <div class="header-left ">
                    <div class="logo w-100 h-100 ">
                        <a href="#" class="w-100 h-100 " target="_blank" >
                            <img class="w-100 h-100 " src="assets/images/logohotel.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="header-right  ">
                    <div class="header-right_top d-flex mt-2 mb-3  justify-content-end">
                        <ul class="list-inline d-flex mb-0 " >
                            <li class="d-flex me-3">
                                <span class="header-label me-2 d-flex">
                                    <i class="fa-solid fa-phone" ></i>
                                </span>
                                <span class="header-phone d-flex flex-column">
                                    <span  class="text-uppercase contact-title">Hotline </span>
                                    <strong >
                                        <a  class="info" href="tel:(+84) 935 772 929" >(+84) 935 772 929</a>
                                    </strong>
                                </span>
                            </li>
                            <li class="d-flex">
                                <span  class="header-label me-2 d-flex">
                                    <i class="fas fa-envelope" >
                                    </i>
                                </span>
                                <span class="header-email d-flex flex-column">
                                    <span  class="text-uppercase contact-title">Email </span>
                                    <strong >
                                        <a class="info"  href="mailto:contact@gmail.com.vn">contact@gmail.com.vn</a>
                                    </strong>
                                </span>
                            </li>
                        </ul>
                        <a href="/login">
                            <button  class="h-100 btn btn-login ms-3" >
                                ĐĂNG NHẬP
                            </button>
                        </a>
                        
                    </div>
                    <div class="nav-menu">
                        <nav class="mainmenu">
                            <ul>
                                <li class=" item-menu " >
                                    <a  href="/" >Trang chủ</a></li>
                                <li class="item-menu" >
                                    <a href="/phong" >Phòng nghỉ</a>
                                </li>
                                <li class="item-menu" >
                                    <a href="gioi-thieu">Giới thiệu</a>
                                </li>
                                <li class="item-menu" >
                                    <a href="dich-vu">dịch vụ</a>
                                </li>
                                <li class="item-menu" >
                                    <a href="lien-he">liên hệ</a>
                                </li>
                                <li class="item-menu">
                                    <a href="tim-kiem">đặt phòng ngay</a>
                                </li>
                            </ul>
                        </nav>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <div class="header-section d-block d-lg-none mobile " >
        <div class="container h-100">
            <div class="menu-item">
                <div class="header-left ">
                    <div class="logo w-100 h-100 ">
                        <a href="#" class="w-100 h-100 ">
                            <img class="w-100 h-100 " src="assets/images/logohotel.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="header-right my-auto  ">
                    <div id="main">
                        <a  onclick="openNav()"><i class="fas fa-bars"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<div id="mySidenav" class="sidenav">
    <div class="text-end sidenav-close ">
            <a href="javascript:void(0)" class="closebtn " onclick="closeNav()">&times;</a>
    </div>
    <ul class="p-0 menu-items mobile-menu">
        <li class=" item-menu active" >
            <a  href="/" >Trang chủ</a></li>
        <li class="item-menu" >
            <a href="/phong" >Phòng nghỉ</a>
        </li>
        <li class="item-menu" >
            <a href="gioi-thieu">Giới thiệu</a>
        </li>
        <li class="item-menu" >
            <a href="dich-vu">dịch vụ</a>
        </li>
        <li class="item-menu" >
            <a href="lien-he">liên hệ</a>
        </li>
        <li class="item-menu">
            <a href="tim-kiem">đặt phòng ngay</a>
        </li>
        <li class="item-menu" >
           <a href="">đăng nhập</a>
        </li>
    </ul>
</div>

