.accordion-item .btn-item-question{
	border-radius:7px;
	/* border: 1px solid #e1e1e1; */
   }
   .accordion-item .btn-item-question:hover{
	color: #dfa974;
   }
   .accordion-item .btn-item-question:focus{
	border: unset;
	box-shadow: 0 0 0 0.25rem rgba(253, 157, 13, 0.25);
	color: #19191a !important;
	background-color: rgba(251, 165, 37, 0.112);
   }
   .accordion-item{
	border-radius: 7px;
	border: 1px solid #e1e1e1 !important;
   }
/* .accordion-item:last-child{
	border-bottom: 1px solid #e1e1e1 ;
} */
.accordion-item:not(:last-child){
	margin-bottom: 10px;

}