.accordion-item .btn-item-question{
	border-radius:7px;
	/* border: 1px solid #e1e1e1; */
   }
   .accordion-item .btn-item-question:hover{
	color: #192a56;
   }
   .accordion-item .btn-item-question:focus{
	border: unset;
	box-shadow: 0 0 0 0.25rem rgba(13, 57, 253, 0.25);
	color: #19191a !important;
	background-color: rgba(37, 76, 251, 0.112);
   }
   .accordion-item{
	border-radius: 7px;
	border: 1px solid #e1e1e1 !important;
   }
/* .accordion-item:last-child{
	border-bottom: 1px solid #e1e1e1 ;
} */
.accordion-item:not(:last-child){
	margin-bottom: 10px;

}