
<div class="container room-home">
    <div class="row">
        <div class="col-md-12 text-center">
            <p class="section-title">
                Phòng nổi bật
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 ">
            <a href="">
                <div class="item-room mt-lg-0 mt-md-4 mt-5 ">
                    <img src="/assets/images/room/room-b1.jpg" alt="Avatar" class="image">
                    <div class="text-title">
                        <h4>Family Room</h4>
                        <h3>299$<span>/Pernight</span></h3>
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <h3>Family Room</h3>
                            <h2>299$<span>/Pernight</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Size:</td>
                                        <td>30 ft</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>Max persion 5</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Bed:</td>
                                        <td>King Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Wifi, Television, Bathroom,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="more-detail ">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 ">
            <a href="">
                <div class="item-room mt-lg-0 mt-md-4 mt-5 ">
                    <img src="/assets/images/room/room-b2.jpg" alt="Avatar" class="image">
                    <div class="text-title">
                        <h4>Family Room</h4>
                        <h3>299$<span>/Pernight</span></h3>
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <h3>Family Room</h3>
                            <h2>299$<span>/Pernight</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Size:</td>
                                        <td>30 ft</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>Max persion 5</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Bed:</td>
                                        <td>King Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Wifi, Television, Bathroom,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="more-detail ">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 ">
            <a href="">
                <div class="item-room mt-lg-0 mt-md-4 mt-5 ">
                    <img src="/assets/images/room/room-b3.jpg" alt="Avatar" class="image">
                    <div class="text-title">
                        <h4>Family Room</h4>
                        <h3>299$<span>/Pernight</span></h3>
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <h3>Family Room</h3>
                            <h2>299$<span>/Pernight</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Size:</td>
                                        <td>30 ft</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>Max persion 5</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Bed:</td>
                                        <td>King Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Wifi, Television, Bathroom,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="more-detail ">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 ">
            <a href="">
                <div class="item-room mt-lg-0 mt-md-4 mt-5 ">
                    <img src="/assets/images/room/room-b4.jpg" alt="Avatar" class="image">
                    <div class="text-title">
                        <h4>Family Room</h4>
                        <h3>299$<span>/Pernight</span></h3>
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <h3>Family Room</h3>
                            <h2>299$<span>/Pernight</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Size:</td>
                                        <td>30 ft</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>Max persion 5</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Bed:</td>
                                        <td>King Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Wifi, Television, Bathroom,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="more-detail ">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>