/*---------------------
  Contact Section
-----------------------*/

.contact-section {
	padding-top: 0px;
	padding-bottom: 80px;
}
.contact-text h2 {
	font-size: 44px;
	color: #19191a;
	margin-bottom: 24px;
}
.contact-form textarea{
	height: 150px
}
.contact-text p {
	color: #707079;
}
.contact-text table tbody tr td {
	font-size: 16px;
	color: #19191a;
	line-height: 36px;
	font-weight: 500;
}
.contact-text table tbody tr td.c-o {
	color: #707079;
	width: 75px;
}

.contact-form input::-webkit-input-placeholder {
	color: #aaaab3;
}
.contact-form input::-moz-placeholder {
	color: #aaaab3;
}
.contact-form input:-ms-input-placeholder {
	color: #aaaab3;
}
.contact-form input::-ms-input-placeholder {
	color: #aaaab3;
}
.contact-form input::placeholder {
	color: #aaaab3;
}

.contact-form textarea::-webkit-input-placeholder {
	color: #aaaab3;
}
.contact-form textarea::-moz-placeholder {
	color: #aaaab3;
}
.contact-form textarea:-ms-input-placeholder {
	color: #aaaab3;
}
.contact-form textarea::-ms-input-placeholder {
	color: #aaaab3;
}
.contact-form textarea::placeholder {
	color: #aaaab3;
}

.map {
	height: 470px;
	-webkit-box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.15);
	margin-top: 75px;
}
.map iframe {
	width: 100%;
}
/* input */
.searchinput{
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #838383;
    height: 30px;
    width: 100%;
    padding: 20px;
    outline: none;
    color: #19191a !important;
   } 
   .valid-input{
	border: 1px solid #838383;
	margin-bottom: 10px ;
   }
   /* input */
.searchinput:focus{
    border: 1px solid #192a56 !important;
}
.text-valid_error{
	color: #dc3545;
	margin-bottom: 5px;
}
.error-input{
	border: 1px solid red !important ;
	margin-bottom: 0;
}
.btn-search{
    border: 1px solid #192a56;
    padding: 10px 20px;
    background:  #192a56;
    color: white;
    border-radius: 5px;

   }
   .btn-search:hover{
    background: rgb(255, 255, 255);
    color: #192a56;
   }
   @media (min-width:992px) {
}
.address{
	list-style: none;
}
.contact-box{
	color: #19191a;
}
.contact-box:hover{
	text-decoration: underline;
}