
.post-title{
    margin-bottom: 20px;
    font-size: 18px;
    color: #192a56;
    font-weight: bold;
    line-height: 1.5;
  }

  .post-excerpt{
    font-size: 16px;

  }
  .post-excerpt p{
    margin-bottom: 0;
  }
  .chuyenmuc{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #192a56;
    text-transform: capitalize;
  }

  /* .ht-btn-sm{
    font-size: 15px;
    font-weight: 500;
    border-style: solid;
    border-radius: 5px;
    border-color: transparent;
    padding: 10px 36px;
    text-align: center;
  } */
  a{
    color: #192a56;
  }
  a:hover{
    text-decoration: none;
    color: black;
  }
  .blog-thumbnail{
    /* height: 50%; */
    max-height: 220px;
    min-height: 190px;
  }
  .share{
    position: absolute;
    transform: translate(-50% , -50%);
    bottom: 20px;
    left: 50%;
  }

  .share .icon-share {
    font-size: 18px;
    border: 0.5px solid;
    padding: 4px;
  }
  .icon-share:not(:last-child){
    margin-right: 15px;
  }
  .icon-share i{
    width: 18px;
    height: 18px;
    fill: #192a56;
  }
  .icon-share i:hover{
    fill: black;
  }
  .p-title.h-81{
    /* height: 81px; */
  }
  .p-title{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .p-title:hover{
    color: black;
    text-decoration: underline;
  }
  .img-slide{
    max-height: 270px;
    min-height: 220px;
  }

  /* thêm */
  .single-blog-item.blog-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 32px rgba(51, 51, 51, 0.07);
  }
  .single-blog-item .post-info {
    margin-top: 20px
}
.single-blog-item.blog-grid .post-info {
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 0px 28px 10px;
    position: relative;
}


.item-img-news:hover img{
    -webkit-transform: scale(1.4);
	transform: scale(1.4);
  }
  .item-img-news img{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .5s ease-in-out;
    object-fit: fill;
  }
  .item-img-news{
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
  }


.see-more{
    text-transform: capitalize;
    color: white;
    background-color: #192a56;
    padding: 10px  20px ;
    border-radius: 25px;
}
.post-read-more .see-more:hover{
    color: #192a56 ;
    background: rgb(255, 255, 255);
    border: 1px solid #192a56;
}
@media (max-width:767.98px) {
   .post-info{
    padding-bottom: 25px;
   }
   /* .item-news{
    max-height: 400px;
  } */
}
@media screen and (min-width: 768px) {
  /* .item-news{
    max-height: 550px;
  } */
}
