<!--post-->
<app-header></app-header>

<div class="bg-light mt-header mb-3">
  <nav aria-label="breadcrumb " class="py-3 py-2 container ">
    <ol class="breadcrumb mb-0 text-capitalize ">
      <li class="breadcrumb-item"><a class="text-primary" href="/">Trang chủ</a></li>
      <li class="breadcrumb-item active" aria-current="page">tin tức và sự kiện</li>
    </ol>
  </nav>
</div>

<div class="site-wrapper-reveal">
  <div class="blog-pages-wrapper section-space">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mb-4 mt-2 ">
            <div class="wdc-heading style-1 text-left">
              <h2 class="chuyenmuc">tin tức & sự kiện</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="main-blog-wrap">
            <div class="col-md-12 mb_20 ">
              <div id="carouselExampleInterval3" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item " [class]="s == 0 ? 'active' : '' "
                       *ngFor="let post of postList ;let s = index" data-bs-interval="1500">
                    <div class="row justify-content-center ">
                      <div class="col-md-6 col-sm-6 col-11  first-blog">
                        <a href="/tin-tuc/{{post.url}}" class="w-100">
                          <img class="img-fluid img-slide w-100 "
                               src="{{baseURL}}/{{postURL}}/image/{{post.id}}" alt="Images">
                        </a>
                      </div>
                      <div class="col-md-6 col-sm-6 col-11 ">
                        <div class="post-info lg-blog-post-info">
                          <h4 class="post-title font-weight--light">
                            <a class="p-title"
                               href="/tin-tuc/{{post.url}}">{{ post.title }}</a>
                          </h4>
                          <div class="post-excerpt mb_15 ">
                            <p class="max-3line" >{{ post.description }}</p>
                          </div>
                          <div class="post-read-more ">
                            <a href="/tin-tuc/{{post.url}}" class=" see-more ">
                              <span class="btn-text">Xem thêm </span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pb_60 pt_60  ">
                <div class="">
                  <div class="row justify-content-center ">
                    <div class="col-md-4 col-sm-6 col-12 mb_30" *ngFor="let post of postList | paginate: { id: 'post',
                                        itemsPerPage: paging.size,
                                         currentPage: paging.page,
                                        totalItems: paging.totalRecord } ;let i = index">
                      <div class="single-blog-item blog-grid item-news ">
                        <div class="post-feature blog-thumbnail">
                          <a class="item-img-news" href="tin-tuc/{{post.url}}">
                            <img class="img-fluid h-100 w-100 "
                                 src="{{baseURL}}/{{postURL}}/image/{{post.id}}" alt="image">
                          </a>
                        </div>
                        <div class="post-info lg-blog-post-info">
                          <h5 class="post-title mb-3 font-weight--bold">
                            <a class="p-title h-81"
                               href="/tin-tuc/{{post.url}}">{{ post.title }}</a>
                          </h5>
                          <div class="post-excerpt mt-3 mb-5">
                            <p class="max-3line">{{ post.description }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 text-center " *ngIf="paging.totalRecord >0">
                      <div class="mt_30 ">
                        <pagination-controls previousLabel="<" nextLabel=">" [id]="'post'"
                                             (pageChange)="handlePageChange($event)"
                                             [maxSize]="paging.totalRecord"></pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--====================  Blog Area End  ====================-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--====================  Blog Area End  ====================-->

</div>
<app-footer></app-footer>
