<div class="container about-us mt_100">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="section-title">
          <span class="border-bottom pb-2 text-uppercase fw-bold ">
            khám phá chỗ ở
          </span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="item-home-cate mt-5 mt-md-0 ">
          <div class=" zoom-img ">
            <img class="w-100" src="assets/images/room/room-1.jpg" alt="">
          </div>
          <div class="infor-cate-home">
            <a href="tim-kiem" class="name-cate">
              Căn hộ
            </a>
            <p class="sochonghi">
              +9000 chỗ nghỉ
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="item-home-cate mt-5 mt-md-0 ">
          <div class=" zoom-img ">
            <img class="w-100" src="assets/images/room/room-1.jpg" alt="">
          </div>
          <div class="infor-cate-home">
            <a href="tim-kiem" class="name-cate">
              Căn hộ
            </a>
            <p class="sochonghi">
              +9000 chỗ nghỉ
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="item-home-cate mt-5 mt-md-0 ">
          <div class=" zoom-img ">
            <img class="w-100" src="assets/images/room/room-1.jpg" alt="">
          </div>
          <div class="infor-cate-home">
            <a href="tim-kiem" class="name-cate">
              Căn hộ
            </a>
            <p class="sochonghi">
              +9000 chỗ nghỉ
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="item-home-cate mt-5 mt-md-0 ">
          <div class=" zoom-img ">
            <img class="w-100" src="assets/images/room/room-1.jpg" alt="">
          </div>
          <div class="infor-cate-home">
            <a href="tim-kiem" class="name-cate">
              Căn hộ
            </a>
            <p class="sochonghi">
              +9000 chỗ nghỉ
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>