.news-more{
    background:#f3f1ee;
    padding: 25px;
}
.title-blog{
    font-size: 1.25em;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 15px 0;
    padding-bottom: 10px;
    line-height: 1.2em;
    border-bottom: 1px dashed #1c4382 !important;
}
.item-post{
    display: flex;
    border-bottom: 1px dashed #1c4382 !important;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.img img{
    max-height: 90px;
   max-width: 120px;
}
.title-item-post{
    margin-bottom: 0 !important;
    color: black;
    
}
.title-item-post:hover{
    text-decoration: underline;
}
.item-post:not(:last-child){
    border-bottom: 1px dashed #1c4382 !important;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.img-post{
    max-height: 72px;
   
}
.btn-shuffle{
    border: 1px solid #192a56;
    background: #192a56;
    padding: 10px;
    border: 10px;
    color: white;
    border-radius: 6px;
    text-transform: capitalize;
}
.btn-shuffle:hover{
    background:#ffff;
    color: #192a56;
    border: 1px solid #192a56;
}