.banner{
    width: 100%;
}
.banner img{
    min-height: 180px;
    width: 100%;
}
.title{
	font-size: 35px;
    text-align: center;
    font-weight: bold;
    color: #dfa974;
}
.title-wellcome{
    font-size: 28px;
    text-align: start;
    font-weight: bold;
    color: #dfa974;
}
.content-wellcome{
    text-align: justify;
    line-height: 30px;
}
.img-about{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item-about{
    background: url('/assets/images/banner-service.png');
}
.bg-fill{
    background-color: rgba(0, 0, 0, 0.69);
}
.icon-img-item{
    display: flex;
    justify-content: center;
}
.icon-img-item img{
    max-width: 50px ;
    max-height: 50px;
}
.item-about .title-item , .item-about .des-item{
    color: white;
}

.item{
    border-bottom: none;
}
@media screen and (max-width:767px) {
    .item:not(:last-child){
        border-bottom:1px solid white;
    }
    .item{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
.des-item{
    line-height: 30px;
}
.muc{
    color: #dfa974;
}
.content-post{
    line-height: 30px;
}