<app-header></app-header>

<div class="about-list">
    <div class="banner">
        <img  src="assets/images/banner/banner-aboutus.jpg" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title mt_60  mb_60 ">
                    <span class="border-bottom pb-2  text-capitalize ">
                        Về chúng tôi
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="title-wellcome mb-3">
                    Sun Hotel - Nơi nghỉ dưỡng lý tưởng cho kỳ nghỉ của bạn!
                </div>
                <div class="content-wellcome">
                    Có địa chỉ tại Lô 31.1 Khu đô thị Thiên Phú, Phường Tứ Minh, 
                    thành phố Hải Dương, Sun hotel được khách hàng tin chọn biết đến là khách 
                    sạn có chất lượng dịch vụ nghỉ dưỡng bậc nhất tại Hải Dương. Luôn quan tâm 
                    tới trải nghiệm khách hàng, quy trình làm việc của nhân viên tại khách sạn, 
                    Sun Hotel là điểm đến giữ chân và tạo cảm giác thoải mái cho khách hàng khi tới nơi đây
                    <br>
                    Chào mừng bạn đến với Sun Hotel - một khách sạn 3 sao đẳng cấp tọa lạc tại một vị trí 
                    đắc địa giữa trung tâm thành phố. Với thiết kế hiện đại và dịch vụ chuyên nghiệp, chúng tôi cam kết mang đến cho bạn trải nghiệm lưu trú đáng nhớ và thoải mái tuyệt đối.

                </div>
            </div>
            <div class="col-md-6 img-about ">
                <div class="">
                    <img src="assets/images/imglogo.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="item-about mb_80 mt_80">
        <div class="bg-fill  pt_40 pb_40">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center  item ">
                    <div class="icon-img-item">
                        <img src="assets/images/about/ks.png" alt="">
                    </div>
                    <div class="title-item max-2line fw-bold fs-5 my-1 my-md-2 my-2 my-md-3">
                        Sun Hotel chuẩn 3 SAO
                    </div>
                    <div class="des-item max-3line ">
                        Không gian sang trọng mang phong cách hiện đại, các tiện nghi 
                        đáp ứng du khách trong nước và quốc tế
                    </div>
                </div>
                <div class="col-md-3 text-center  item ">
                    <div class="icon-img-item">
                        <img src="assets/images/about/dich-vu.png" alt="">
                    </div>
                    <div class="title-item max-2line fw-bold fs-5 my-1 my-md-2 my-2 my-md-3">
                        Sun Hotel chuẩn 3 SAO
                    </div>
                    <div class="des-item max-3line ">
                        Không gian sang trọng mang phong cách hiện đại, các tiện nghi 
                        đáp ứng du khách trong nước và quốc tế
                    </div>
                </div>
                <div class="col-md-3 text-center  item ">
                    <div class="icon-img-item">
                        <img src="assets/images/about/dat-phong.png" alt="">
                    </div>
                    <div class="title-item max-2line fw-bold fs-5 my-1 my-md-2 my-2 my-md-3">
                        Sun Hotel chuẩn 3 SAO
                    </div>
                    <div class="des-item max-3line ">
                        Không gian sang trọng mang phong cách hiện đại, các tiện nghi 
                        đáp ứng du khách trong nước và quốc tế
                    </div>
                </div>
                <div class="col-md-3 text-center  item ">
                    <div class="icon-img-item">
                        <img src="assets/images/about/phuc-vu.png" alt="">
                    </div>
                    <div class="title-item max-2line fw-bold fs-5 my-1 my-md-2 my-2 my-md-3">
                        Sun Hotel chuẩn 3 SAO
                    </div>
                    <div class="des-item max-3line ">
                        Không gian sang trọng mang phong cách hiện đại, các tiện nghi 
                        đáp ứng du khách trong nước và quốc tế
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="container mb_80 ">
        <div class="row">
            <div class="col-lg-5">
                <div class="img-post w-100">
                    <img class="w-100" src="assets/images/about/post.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="content-post py-4 py-md-3 ">
                    <h3 class="muc text-uppercase">Book-Easy</h3>
                    <p>
                        <span class="muc">🏨 Không gian phòng nghỉ 🏨</span>
                        Sun Hotel có các phòng nghỉ rộng rãi và sang trọng, được trang bị đầy đủ tiện nghi hiện đại.
                         Với không gian ấm cúng và trang nhã, bạn sẽ cảm nhận được sự thư thái và thoải mái ngay từ lúc bước vào. 
                         Các phòng nghỉ của chúng tôi cũng được trang bị cửa sổ lớn,
                         mang đến ánh sáng tự nhiên và tầm nhìn phong cảnh tuyệt đẹp.
                    </p>
                    <p>
                        <span class="muc"> 🍽️ Nhà hàng và quầy bar 🍽️ </span>
                        Sun Hotel tự hào là nơi tập trung các nhà hàng và quầy bar chất lượng nhằm đáp ứng 
                        mọi nhu cầu ẩm thực của bạn. Tận hưởng những món ăn đa dạng từ thương hiệu nổi tiếng, 
                        chúng tôi cam kết mang đến cho bạn trải nghiệm ẩm thực tuyệt vời. Quầy bar tại khách sạn 
                        chúng tôi cung cấp đa dạng đồ uống và cocktail độc đáo để bạn thư giãn và thưởng thức.
                    </p>
                    <p>
                        <span class="muc">🏊‍♀️ Tiện ích và dịch vụ 🏊‍♂️</span>
                        Sun Hotel cũng hân hạnh cung cấp các tiện ích và dịch vụ thuận tiện như hồ bơi ngoài trời,
                         trung tâm thể dục, spa, phòng hội nghị và hơn thế nữa. Chúng tôi hiểu rằng sự hài lòng của
                          khách hàng là hàng đầu, vì vậy đội ngũ nhân viên chuyên nghiệp và tận tâm của chúng tôi sẽ đáp
                           ứng mọi yêu cầu của bạn trong suốt thời gian lưu trú tại khách sạn.
                    </p>
                    <p>
                        <span class="muc">⭐ Đặt chỗ ngay tại Sun Hotel ⭐</span>
                        Hãy đặt chỗ ngay và khám phá sự lịch lãm và thoải mái tại Sun Hotel! Đội ngũ nhân viên thân 
                        thiện và nhiệt tình của chúng tôi sẽ đảm bảo bạn có một kỳ nghỉ không thể quên. Hãy đến và trải 
                        nghiệm chất lượng dịch vụ tuyệt vời của chúng tôi.
                    </p>
                    <p class="muc">
                        🌅 Hãy để Sun Hotel trở thành điểm đến nghỉ dưỡng lý tưởng cho mọi kỳ nghỉ của bạn! 🌅
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>