<div class="news-more">
    <div class="row">
        <div class="col-md-12">
            <div class="title-blog">
                tin tức mới nhất
            </div>
            <div class="item-post">
                <div class="row">
                    <div class="col-4">
                        <a  href="/tin-tuc/chi-tiet" class="h-100 d-block" >
                            <img class="w-100 h-100" src="assets/images/room/room-5.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-8">
                        <a href="/tin-tuc/chi-tiet"  >
                            <p class="title-item-post max-3line ">
                                Tham gia cuộc thi, các bạn sẽ được hướng dẫn - thực hành
                                 ng dẫn - thực ng dẫn - thựcng dẫn - thực ng dẫn - thực ng dẫn - thực ng dẫn - thực
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item-post">
                <div class="row">
                    <div class="col-4">
                        <a  href="/tin-tuc/chi-tiet" class="h-100 d-block" >
                            <img class="w-100 h-100" src="assets/images/room/room-5.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-8">
                        <a href="/tin-tuc/chi-tiet"  >
                            <p class="title-item-post max-3line ">
                                Tham gia cuộc thi, các bạn sẽ được hướng dẫn - thực hành
                                 ng dẫn - thực ng dẫn - thựcng dẫn - thực ng dẫn - thực ng dẫn - thực ng dẫn - thực
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item-post">
                <div class="row">
                    <div class="col-4">
                        <a  href="/tin-tuc/chi-tiet" class="h-100 d-block" >
                            <img class="w-100 h-100" src="assets/images/room/room-5.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-8">
                        <a href="/tin-tuc/chi-tiet"  >
                            <p class="title-item-post max-3line ">
                                Tham gia cuộc thi, các bạn sẽ được hướng dẫn - thực hành
                                 ng dẫn - thực ng dẫn - thựcng dẫn - thực ng dẫn - thực ng dẫn - thực ng dẫn - thực
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item-post">
                <div class="row">
                    <div class="col-4">
                        <a  href="/tin-tuc/chi-tiet" class="h-100 d-block" >
                            <img class="w-100 h-100" src="assets/images/room/room-5.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-8">
                        <a href="/tin-tuc/chi-tiet"  >
                            <p class="title-item-post max-3line ">
                                Tham gia cuộc thi, các bạn sẽ được hướng dẫn - thực hành
                                 ng dẫn - thực ng dẫn - thựcng dẫn - thực ng dẫn - thực ng dẫn - thực ng dẫn - thực
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>