.wrapper2{
    padding-top: 34.2px;
    width: 100%;
  }
  @media only screen and (max-width:991px) {
    .wrapper{
      margin-left:0px;
    }
  
  }
  @media only screen and (min-width:992px) {
    .wrapper{
      margin-left: 228px;
      transition: 1s;
    }
    .wrapper-admin{
      margin-left: 65px;
      transition: 1s;
    }
  }
  .header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
   background: white;
  }
  @media only screen and (max-width:991px) {
   .header-admin{
    left: 50px;
   }
  }
  @media only screen and (min-width:992px) {
   .header-admin{
     left: 228px;
     transition: 1s;
   }
   .header-admin2{
    left: 0px;
    transition: 1s;
   }
  }
  