<div class="toolbar"></div>
<form (ngSubmit)="onSubmit()" [formGroup]="formMember" encformProducttype="multipart/form-data" class="mt_30">
    <div class="container mb_60">
        <div class="boder">
            <div class="title">
                <p class="text-title fs-5">thành viên</p>
            </div>
            <div class="mt_80">
                <div class="row justify-content-center">
                    <div class="col-md-10 ">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="box update_box ">
                                    <label class="form-label">hình ảnh</label>
                                    <div class="w-100">
                                        <div class="image borderInput p-0">
                                            <img src="{{imageURL}}" alt="" appHideMissing
                                                *ngIf="imageURL ; else elseBlock ">
                                            <ng-template #elseBlock>
                                                <img src="../../../../../assets/images/placeholder.png" alt="">
                                            </ng-template>
                                        </div>
                                        <input class="p-1 p-md-2 w-100 text-input " accept="image/png, image/jpeg"
                                            type="file" value="select" (change)="imageChange($event)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class=" mt_30 mx-md-0 mx-4 box-input ">
                                    <label class="custom-field two w-100">
                                        <input placeholder="&nbsp;" class="w-100 input-field" type="text"
                                            formControlName="ten" name="fullName"
                                            [class.borderError]="!formMember.controls.ten.valid&&!formMember.controls.ten.untouched"
                                            [class.text-input]="formMember.controls.ten.valid||formMember.controls.ten.untouched" />
                                        <span class="placeholder label-custom lh-base "><span
                                                class="validateText">*</span>tên thành viên</span>
                                    </label>
                                    <p *ngIf="!formMember.controls.ten.valid&&!formMember.controls.ten.untouched"
                                        class="validateText">
                                        Thông tin không thể bỏ trống</p>
                                </div>
                                <div class=" mx-md-0 mx-4 box-input ">
                                    <label class="custom-field two w-100">
                                        <input placeholder="&nbsp;" class="w-100 input-field" type="text"
                                            formControlName="chucVu" name="position"
                                            [class.borderError]="!formMember.controls.chucVu.valid&&!formMember.controls.chucVu.untouched"
                                            [class.text-input]="formMember.controls.chucVu.valid||formMember.controls.chucVu.untouched" />
                                        <span class="placeholder label-custom lh-base "><span
                                                class="validateText">*</span>chức vụ</span>
                                    </label>
                                    <p *ngIf="!formMember.controls.chucVu.valid&&!formMember.controls.chucVu.untouched"
                                        class="validateText">
                                        Thông tin không thể bỏ trống</p>
                                </div>
                                <div class=" mx-md-0 mx-4 box-input ">
                                    <label class="custom-field two w-100">
                                        <input placeholder="&nbsp;" class="w-100 input-field" type="text" name="degree"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="member.degree" />
                                        <span class="placeholder label-custom lh-base ">học vị
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12 mt-md-4 mt-3 ">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class=" mx-md-0 mx-4 box-input mt_30 ">
                                            <label class="custom-field two w-100">
                                                <input placeholder="&nbsp;" class="w-100 input-field" type="date"
                                                    formControlName="namThamgGia" name="timeJoin"
                                                    [class.borderError]="!formMember.controls.namThamgGia.valid&&!formMember.controls.namThamgGia.untouched"
                                                    [class.text-input]="formMember.controls.namThamgGia.valid||formMember.controls.namThamgGia.untouched" />
                                                <span class="placeholder label-custom lh-base "><span
                                                        class="validateText">*</span>năm tham
                                                    gia</span>
                                            </label>
                                            
                                            <p *ngIf="!formMember.controls.namThamgGia.valid&&!formMember.controls.namThamgGia.untouched"
                                                class="validateText">
                                                Thông tin không thể bỏ trống</p>
                                        </div>
                                        <div class=" mx-md-0 mx-4 box-input ">
                                            <label class="custom-field two w-100">
                                                <input placeholder="&nbsp;" class="w-100 input-field" type="date"
                                                    name="birthDate" [ngModelOptions]="{standalone: true}"
                                                    [(ngModel)]="member.birthDate" />
                                                <span class="placeholder label-custom lh-base ">năm sinh
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6  ">
                                        <div class=" mx-md-0 mx-4 box-input mt_30 ">
                                            <label class="custom-field two w-100">
                                                <input placeholder="&nbsp;" class="w-100 input-field" type="text"
                                                    formControlName="email" name="email"
                                                    [class.borderError]="!formMember.controls.email.valid&&!formMember.controls.email.untouched"
                                                    [class.text-input]="formMember.controls.email.valid||formMember.controls.email.untouched" />
                                                <span class="placeholder label-custom lh-base "><span
                                                        class="validateText">*</span>email liên
                                                    hệ</span>
                                            </label>
                                            <p *ngIf="!formMember.controls.email.valid&&!formMember.controls.email.untouched"
                                                class="validateText">
                                                Thông tin không thể bỏ trống</p>
                                        </div>
                                        <div class=" mx-md-0 mx-4 box-input ">
                                            <label class="custom-field two w-100">
                                                <input placeholder="&nbsp;" class="w-100 input-field"
                                                    (keypress)="numberOnly($event)" type="text" name="phone"
                                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="member.phone" />
                                                <span class="placeholder label-custom lh-base ">số điện thoại
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row  ">
                                    <div class="col-md-12 ">
                                        <div class="mx-md-0 mx-4 mt_30 ">
                                            <label class="custom-field two w-100">
                                                <textarea placeholder="&nbsp;" class="w-100 input-field"
                                                    style="height: 120px" name="description "
                                                    [ngModelOptions]="{standalone: true}"
                                                    [(ngModel)]="member.description"></textarea>
                                                <span class="placeholder label-custom lh-base ">mô tả thành viên
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-5 col-8 col-ms-6 mt-4 mb_30 mx-auto text-center ">
                                <button type="submit" class=" mt-2 mt-sm-0 btn btn-primary btn-lg btnn"
                                    [disabled]="!formMember.valid">Lưu</button>
                                <button type="button" class=" mt-2 mt-sm-0 btn btn-secondary btn-lg  cancel"
                                    (click)="goToBack()">Hủy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>