<div class="news-more">
    <div class="row">
        <div class="col-md-12">
            <div class="title-blog">
                liên kết trang web
            </div>
            <div class="item-post">
                <a href="">
                    sâsasasasas
                </a>
            </div>
            <div class="item-post">
                <a href="">
                    sâs a asasasas
                </a>
            </div>
            <div class="item-post">
                <a href="">
                    sâsasasasas
                </a>
            </div>
            <div class="item-post">
                <a href="">
                    sâs a asasasas
                </a>
            </div>
        </div>
    </div>
</div>