<!-- điểm nổi bật -->
<div class="hightline">
    <div class="title">
        điểm nổi bật
    </div>
    <div class="container my-4 ">
        <div class="row">
            <div class="col-sm-3 item-hightline " *ngFor="let item of hightLine">
                <div class="item-amenities">
                    <img src="{{item.urlImg}}" alt="img-hightline">
                    <div class="des" >
                        {{item.des}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- tiện nghi -->

<div class="tiennghi">
    <div class="title">
        tiện nghi
    </div>
    <ul class="list-taxonomy my-4  ">
        <li *ngFor="let tn of tienNghi" >
            <i class="fa-solid fa-check icon-check "></i>
            {{tn.des}}
        </li>
    </ul>
</div>