.galley-add{
    margin-top: 50px;
}
.contact-inner{
    margin: 0px 0px 0px 0px;
}
.text-input{
    color: black;
  }
  .text-input:focus{
    color: black;
    border: 1px solid #50b848;
  }
  .input{
    margin-top: 70px;
    padding: 0px 20px 20px 20px;
  }
  .btnn {
    margin-right: 15px;
  margin-top: 20px;
  width: 40%;
  }
  .cancel{
    background-color: #cccccc;
  
  }
  .cancel:hover{
    background-color: rgba(43, 43, 63, 0.85);
    color: aliceblue;
  }
  .update_box{
    display: flex;
    flex-direction: column;
    
  }
  .update_box .image{
    position: relative;
    height: 210px;
    width: 100%;
  }
  .update_box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .update_box img{
    width: 100%;
    object-fit: cover;
  }