
<form (ngSubmit)="onSubmit() "  enctype="multipart/form-data" novalidate  >
    <div class="container" style="margin-top: 100px;">
        <div class="row" style="justify-content: center">
            <div class="col-lg-9" >
              <div class="contact-inner" >
                <div class="row" >
                  <div class="col-md-4" >
                    <div class="update_box">
                        <div class="image">
                          <img  src="{{imageURL}}" alt="" appHideMissing>
                        </div>
                        <input type="file" accept="image/png, image/jpeg" value="select" (change)="imageChange($event)">
                      </div>
                  </div>
                  <div class="col-md-8">
                    <div class="" style="margin-bottom: 20px;" >
                      <input class="text-input" type="text"  placeholder="*Tên"   name="caption" [(ngModel)]="gallery.caption" >
                    </div>
                    <div>
                      <textarea placeholder="*Chi tiết" name="description"  [(ngModel)]="gallery.description"></textarea>
                    </div>
                    <div class="submit-button">
                      <button type="submit" class="btn btn-primary btn-lg btnn">Lưu</button>
                      <button type="button" class="btn btn-secondary btn-lg btnn cancel" (click)="gotoGalleryControl()">Hủy</button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</form>

