<div class="container mt_100 ">
  <div class="row mx-auto row justify-content-center ">
    <div class="col-md-8 col-lg-6 col-xxl-8 ">
      <div class="login p-lg-5 p-md-4 p-3 ">
        <p class="text"> Đăng nhập </p>
        <form (ngSubmit)="onSubmit()" ngNativeValidate>
          <div *ngIf="isLoginFailed" class="text-danger mb-2">{{errorMessage}}</div>
          <div class="form-outline mb-3 mb-md-4 ">
            <label for="username" class="label-username" >Tên đăng nhập</label>
            <input type="text" name="username" autocomplete="username" [(ngModel)]="form.username"
              class="form-control input-username " placeholder="Tên đăng nhập" required>
          </div>
          <div class="form-outline mb-3 mb-md-4  password-form  ">
            <label for="password" class="label-password" > mật khẩu </label>
            <input type="password" name="password" autocomplete="current-password" [(ngModel)]="form.password"
              class=" form-control input-username  " placeholder="Mật khẩu" id="password" required>
            <label class="input-group-addon translate-middle ">
              <a onclick="password_show_hide()" class="show-hide_pass" >
                <i style="font-size: 20px;" class="fa fa-eye-slash d-none" id="hide_eye"></i>
                <i style="font-size: 20px;" class="fa fa-eye  " id="show_eye"></i>
              </a>
            </label>
          </div>
          <div class="save-pass mb-3 mb-md-4 ">
            <span (click)="goback()" class="back d-none d-sm-block "> <i class=" icon-back fa-solid fa-arrow-left"></i> Quay lại</span>
            <label  class="save-pass-container">Nhớ mật khẩu?
              <input type="checkbox" name="remember-me" [(ngModel)]="form.remember">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="text-center  mb-5 ">
            <button class="btn btn-login w-100 mb-3" type="submit">Đăng nhập</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div id="nav-home-mobile" >
  <div id="navbar-header-home"></div>
</div>