
.scroll-sidebar{
    overflow-y: hidden;
    padding: 0 24px;
    height: calc(100vh - 80px);
    border-radius: 7px;
  }
  .scroll-sidebar:hover {
    overflow-y:auto;
  }
  .sidebar-nav{
    /* margin-top: -23px; */
  }
  .scroll-sidebar::-webkit-scrollbar {
    width: 6px;
  }
  .name-accout{
    font-size: 14px;
  }
  .avt-accout{
    width: 18%;
  }
  .scroll-sidebar::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .scroll-sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8d8d8d5c;
  }
  .brand-logo{
    padding-top: 19px;
    padding-bottom: 19px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items:center;
    flex-direction: row;
    background:  rgba(93,135,255,1) 
  }
  .sidebar-link:hover{
   text-decoration: none;
  }
  a{
    text-decoration: none;
  }
  .sidebar2{
    width: 228px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    border: 1px solid #cba9a9;
    z-index: 90;
    .logo-sidebar{
      width: 228px;
      transition: width 3s ease;
    }
    
  }
  .left-sidebar{
    width: 65px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: width 1s ease;
    .aside_hide{
      display:none;
      transition: 1s;
    }
    .logo-img{
      display: none;
      transition: width 1s ease;
    }
    .logo-sidebar{
      width: 65px;
      transition: 1s;
    }
    .rotate-180{
      transform: rotateZ(180deg);
      transition: transform 0.3s;
    }
    .accout-item{
      visibility: hidden;
      transition: width 1s ease;
    }
  }
  
  .left-sidebar:hover{
    width: 228px;
    .aside_hide{
      display:block;
    }
    .logo-sidebar{
      width: 228px;
    }
    .logo-img{
      display: block;
      transition: width 1s ease;
    }
    .accout-item{
      visibility: initial;
      transition: width 1s ease;
      
    }
  }
  
  .text-logout{
    cursor: pointer;
  }
  
  /* mobile */

  #sidebarnav li{
    list-style: none;
  }

  .brand-logo-mobile{
  margin: 5%;
  }
  .sidebar-mobile{
    margin-top: 34px;
  }
  .img-mobile{
    width: 50%;
  }
  .nav-mobile{
    padding: 0 5%;
  }
  .icon-menu{
    cursor: pointer;
    z-index: 6;
    position: fixed;
    background: #ffffff;
  }
  .icon-menu:hover{
    background-color: #a2a2a2;
  }
  .icon-menu:focus{
    background-color: #a2a2a2;
  }
  
  /*  */
  .aside-menu-mobile{
    margin-top: 34px;
    background: white;
  }

  .logo-text{
    font-size: 32px;
    color: white;
  }
  .logo-text:hover{
    color: #c5c5c5;
  }