.error{
    background: white; 
    height: 100vh;
}

.logo{
    display: flex;
    justify-content: center;
}
.back{
    color: #dfa974;
    font-weight: bold;
    font-size: 20px;
    transition: .3s linear;
  }
  .back:hover{
    cursor: pointer;
    color: #000000;
    margin-left: 10px;

  }