
<app-header></app-header>
<div class="error pt_60 pb_60 ">
    <div class="container  ">
        <div class="content-error">
            <span style=" font-size: 45px;" class="title">Không tìm thấy trang: </span>
            <span style="font-size: 26px; color: rgb(137, 134, 134);"> Error 404</span>
            <p>Xin lỗi vì sự cố này! trang bạn đang tìm kiếm không tồn tại. </p>
        </div>
        <span (click)="goback()" class="back">Quay lại </span>
    </div>
</div>
<app-footer></app-footer>