
.header-menu{
    /* padding: 10px 15px 0px 12px; */
   text-align: center;
   justify-content: center;
   align-content: center;
 }
 
 .ht-btn-custom{
   font-size: 16px;
   color: #121213;
 }
 .text-title{
   color: #50b848;
   font-size: 25px;
   font-weight: bold;
 }
 /* table */
 .list-table{
   height: 620px;
   overflow: auto;
   scrollbar-width: none;
   -ms-overflow-style: none;
 }
 .list-table::-webkit-scrollbar{
   display: none;
 }
 
 /* .edit:hover{
   background-color: rgb(103, 190, 74);
   color: white;
 }
 .dele:hover{
   background-color: rgb(240, 56, 56);
   color: white;
 } */
 .des{
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
 }
 .icon{
   padding: 5px 10px 5px 10px;
   font-size: 15px;
   border-radius: 10px;
   color: #eff2f5;
 }
 .icon-edit{
   background-color: #3366FF;
 }
 .icon-remove{
   background-color: rgb(93 95 97);
 }
 .icon-add{
  background-color: rgb(54, 219, 25);
  color: #eff2f5;
 }
 .icon-item:hover{
   color: black;
 }
 
 .header-cate{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
 }
.header-cate-text{
    padding-left: 15px;
    text-transform: uppercase;
}
 .card{
   border: 1px solid rgb(226 226 226);
   box-shadow: 0px 0px 12px 6px rgba(0,0,0,0.06);
 }
 .btn{
   border-color: #F5F8FA;
   background-color: #F5F8FA;
   width: 45px;
 }
 .btn2{
   border-color: #F5F8FA;
   background-color: #F5F8FA;
  
 }
 .btn-icon {
   display: inline-flex;
   align-items: center;
   justify-content: center;
 }
 
 .btn2:hover{
   color: #FFFFFF;
   border-color: #5D87FF;
   background-color: #5D87FF;
   .svg-icon2 [fill]{
     fill: #ffffff;
   }
 } 
 
 .btn-light-primary {
   color: #0047ff;
   border-color: #F1FAFF;
   background-color: #F1FAFF;
   margin-right: 10px;
  
 }
 
 svg {
   height: 1.2rem;
   width: 1.2rem;
 }
  .svg-icon2 [fill]{
   fill: #009EF7;
 }
 .svg-icon [fill]{
   fill: #181c32;
 }
 span {
   content: "\002B";
 }

 /*  */
 .btn-icon:hover{
    background-color: rgb(160, 160, 160);
 }
 /* tìm kiếm */
 .search{
  border-radius: 5px;
  height: 30px;
  width: 100%;
  align-items: center;
  background-color: #EAEFF4;
  border: 1px solid rgb(230, 231, 232);
  padding: 15px;
}

.input-search:focus{
  color: black;
  border: 1px solid rgb(164, 164, 164);
}
.input-search:focus-visible{
  border: 1px solid rgb(164, 164, 164) !important;
}

.form-search{
  position: relative;
}
.icon-search{
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
}
.icon-search button{
  background-color: unset;
}