<div id="navbar">
  <div class="container">
    <div class="main-menu d-lg-flex d-none ">
      <span class="back" (click)="goback()"> <i class=" icon-back fa-solid fa-arrow-left"></i> Quay lại</span>
      <div class="d-flex">
        <div class="check-date item-book">
          <p>Từ ngày:</p>
          <input type="date" class="searchinput " name="startTime">
        </div>
        <div class="check-date item-book ">
          <p>Đến ngày:</p>
          <input type="date" class="searchinput " name="startTime">
        </div>
        <div class="select-option item-book ">
          <p>Loại phòng:</p>
          <select class="form-select cate-room " aria-label="Default select example">
            <option selected>Loại phòng</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="select-option item-book ">
          <p>Địa điểm:</p>
          <input class="searchinput " type="text"
            placeholder="Nhập địa điểm ">
        </div>
      </div>
      <button class="btn-seacrh btn btn-warning">Tìm</button>
    </div>
    <!-- mobile -->
    <div class="d-lg-none d-flex main-menu ">
      <span class="back" (click)="goback()"  > <i class=" icon-back fa-solid fa-arrow-left"></i> Quay lại</span>
      <div class="btn-group dropstart">
        <div class="dropdown-toggle icon-drop-down " data-bs-toggle="dropdown" aria-expanded="false"  >
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <ul class="dropdown-menu p-0">
          <li class="p-2 border ">
            <div class="check-date ">
              <p class="text-dark">Từ ngày:</p>
              <input type="date" class="searchinput " name="startTime">
            </div>
          </li>
          <li class="p-2 border ">
            <div class="check-date ">
              <p  class="text-dark">Đến ngày:</p>
              <input type="date" class="searchinput " name="startTime">
            </div>
          </li>
          <li class="p-2 border">
            <div class="select-option ">
              <p class="text-dark">Loại phòng:</p>
              <select class="form-select cate-room w-100 " aria-label="Default select example">
                <option selected>Loại phòng</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </li>
          <li class="p-2 border">
            <div class="select-option  ">
              <p>Địa điểm:</p>
                <input class="searchinput " type="text"
                  placeholder="Nhập địa điểm ">
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="list-room mt_120 mb_100 ">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="sapxep row d-none d-md-flex ">
          <p class="mb-sm-0 mb-2 fw-bold col-sm-2 ">Sắp xếp:</p>
          <button class="btn-sapxep mb-sm-0 mb-2 col-sm-3">Phù hợp nhất</button>
          <button class="btn-sapxep mb-sm-0 mb-2 col-sm-3">Giá thấp nhất</button>
          <button class="btn-sapxep mb-sm-0 mb-2 col-sm-3">Ưu đãi nóng hổi</button>
        </div>
        <div class="d-flex d-md-none sapxep row">
            <a class="btn-sapxep mb-0 col-sm-3" data-bs-toggle="collapse" href="#chonloc" role="button" aria-expanded="false" aria-controls="collapseExample">
              <i class="fa-solid fa-filter me-2"></i>  Chọn lọc
            </a>
        </div>
        <div class="collapse" id="chonloc">
          <div class="filter">
            <div class="rating box-filter ">
              <div class="text-title">
                đánh giá của khách hàng
              </div>
              <div class="form-check"> 
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked >
                <label class="form-check-label text-content" for="flexRadioDefault1">
                  Trên cả tuyệt vời
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label text-content" for="flexRadioDefault1">
                  Rất tốt
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                <label class="form-check-label text-content " for="flexRadioDefault2">
                  Tốt
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                <label class="form-check-label text-content " for="flexRadioDefault2">
                  Hài lòng
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                <label class="form-check-label text-content " for="flexRadioDefault2">
                  Không hài lòng
                </label>
              </div>
            </div>
            <div class="cate-room-filter box-filter">
              <div class="select-option item-book ">
                <p class="text-title" >Loại phòng:</p>
                <select class="form-select cate-room " aria-label="Default select example">
                  <option selected>Loại phòng</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
            <div class="room-amenities box-filter">
              <div class="text-title">
                tiện nghi phòng:
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  wifi
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  bếp
                </label>
              </div>
            </div>
            <div class="service-our box-filter">
              <div class="text-title">
                dịch vụ:
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                <label class="form-check-label" for="flexCheckDefault1">
                  Default checkbox
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" checked>
                <label class="form-check-label" for="flexCheckChecked1">
                  Checked checkbox
                </label>
              </div>
            </div>
            <div class="box-filter d-flex justify-content-evenly ">
              <button type="button" class="btn btn-secondary">Hủy</button>
              <button type="button" class="btn btn-primary">Lọc</button>
            </div> 
          </div>
        </div>
        <div class="card w-100 item">
          <div class="row ">
            <div class="col-5 col-lg-4 ">
              <img class="h-100 img-item w-100" src="assets/images/room/room-1.jpg" alt="">
            </div>
            <div class="col-7 col-lg-6 body-item ">
                <div class="card-title max-2line ">
                  Inside Park Bike Tour and Space Center Houston Admissi Bike Tour and Space Center Houston Admission
                </div>
                <!-- <div class="cate-room-item">
                  <p>Loại phòng: <span>phòng đôi</span></p>
                </div> -->
                <div class="rate">
                  <p>
                    Được đánh giá: <span>rất tốt</span>
                  </p>
                </div>
                <div class="cate-service">
                  <p>
                    Phòng có: <span>giường, </span><span>wifi, </span><span>nóng lạnh, </span><span>tivi,.(mô tả).</span>
                  </p>
                </div>
                <div class="address">
                  <i class="fa-solid fa-location-dot me-2"></i> <span>Tên địa chỉ</span>
                </div>
                <div class="price">
                  <span class="text-black-50" >Giá mỗi đêm từ :</span>
                  <span class="sotien fs-4 fw-bold "> 1.000.000</span>
                  <span class="text-black-50 fs-5">₫</span>
                </div>
            </div>
            <div class="col-lg-2 mt-2 mt-lg-0 more-item ">
                <p class="me-lg-3 text-center phongtrong " >còn 10 phòng</p>
               <button (click)="roomDetail()"  class="view-room-item me-lg-3 mb-3 mb-md-0 ">Xem phòng</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-none d-md-block">
        <div class="filter">
          <div class="rating box-filter ">
            <div class="text-title">
              đánh giá của khách hàng
            </div>
            <div class="form-check"> 
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked >
              <label class="form-check-label text-content" for="flexRadioDefault1">
                Trên cả tuyệt vời
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label text-content" for="flexRadioDefault1">
                Rất tốt
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
              <label class="form-check-label text-content " for="flexRadioDefault2">
                Tốt
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
              <label class="form-check-label text-content " for="flexRadioDefault2">
                Hài lòng
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
              <label class="form-check-label text-content " for="flexRadioDefault2">
                Không hài lòng
              </label>
            </div>
          </div>
          <div class="cate-room-filter box-filter">
            <div class="select-option item-book ">
              <p class="text-title" >Loại phòng:</p>
              <select class="form-select cate-room " aria-label="Default select example">
                <option selected>Loại phòng</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="room-amenities box-filter">
            <div class="text-title">
              địa điểm:
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label text-capitalize" for="flexCheckDefault">
                hà nội
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label text-capitalize  " for="flexCheckChecked">
                đà nẵng
              </label>
            </div>
          </div>
          <div class="service-our box-filter">
            <div class="text-title">
              dịch vụ:
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
              <label class="form-check-label text-capitalize " for="flexCheckDefault1">
                Default checkbox
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" checked>
              <label class="form-check-label text-capitalize " for="flexCheckChecked1">
                Checked checkbox
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<app-footer></app-footer>