<div class="d-none d-xl-block ">
  <div class="product mt_60">
    <div class="container">
      <div class=" title-about-us mb_30 text-center mt-md-0  "><span class="border-bottom pb-2">blog</span></div>
      <!-- <div class="row justify-content-center " [@myAnimation]="animationState">
        <div class="col2 " *ngFor="let itempro of products , let i = index" >
          <div *ngIf="i<5" >
            <div class="item-img" >
              <img src="{{baseURL}}/{{productURL}}/image/{{itempro.id}}"  alt="img product" class="image" >
              <div class="overlay">
                <div class="text">{{itempro.title}}</div>
                <div class="see-more">
                  <a href="san-pham/{{itempro.url}}">xem thêm</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <marquee   direction="left" loop="1000" class=" row ">
        <div class=" col2 item " *ngFor="let itempro of products ;let i = index">
          <div class="item-img">
            <img class="img-fluid image " src="{{baseURL}}/{{productURL}}/image/{{itempro.id}}" alt="" />
            <div class="overlay">
              <div class="text max-2line ">{{itempro.title}}</div>
              <div class="see-more">
                <a href="blog/{{itempro.url}}">xem thêm</a>
              </div>
            </div>
          </div>
        </div>
      </marquee>
    </div>
  </div>
</div>

<div class="d-xl-none d-block ">
  <div class="product mt_60">
    <div class="container">
      <div class=" title-about-us mb_30 text-center mt-md-0  "><span class="border-bottom pb-2">blog</span></div>
      <div class=" "  >
        <!-- row  justify-content-center -->
        <!-- <div class="col2 mb-lg-0 mb-4 " *ngFor="let itempro of products | paginate:{
          itemsPerPage: paging.size,
          currentPage: paging.page,
          totalItems: paging.totalRecord  } , let i = index" >
          <div class="item-img">
            <img src="{{baseURL}}/{{productURL}}/image/{{itempro.id}}"  alt="img product"class="image">
            <div class="overlay">
              <div class="text">{{itempro.title}}</div>
              <div class="see-more">
                <a href="san-pham/{{itempro.url}}">xem thêm</a>
              </div>
            </div>
          </div>
        </div> -->
        <marquee   direction="left" loop="1000" class=" row ">
          <div class=" col2 item " *ngFor="let itempro of products ;let i = index">
            <div class="item-img">
              <img class="img-fluid image " src="{{baseURL}}/{{productURL}}/image/{{itempro.id}}" alt="" />
              <div class="overlay">
                <div class="text">{{itempro.title}}</div>
                <div class="see-more">
                  <a href="blog/{{itempro.url}}">xem thêm</a>
                </div>
              </div>
            </div>
          </div>
        </marquee>
        
      </div>
    </div>
  </div>
</div>


