<div class="d-none d-xl-block ">
  <div class="product mt_60">
    <div class="container">
      <div class=" title-about-us mb_30 text-center mt-md-0  "><span class="border-bottom pb-2">sản phẩm</span></div>
      <div class="row justify-content-center " [@myAnimation]="animationState">
        <div class="col2 " *ngFor="let itempro of products | paginate:{
          itemsPerPage: paging.size,
          currentPage: paging.page,
          totalItems: paging.totalRecord  } , let i = index" >
          <div class="item-img">
            <img src="{{baseURL}}/{{productURL}}/image/{{itempro.id}}"  alt="img product" class="image" height="280px">
            <div class="overlay">
              <div class="text">{{itempro.title}}</div>
              <div class="see-more">
                <a href="san-pham/chi-tiet">xem thêm</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-xl-none d-block ">
  <div class="product mt_60">
    <div class="container">
      <div class=" title-about-us mb_30 text-center mt-md-0  "><span class="border-bottom pb-2">sản phẩm</span></div>
      <div class="row  justify-content-center "  >
        <div class="col2 mb-lg-0 mb-4 " *ngFor="let itempro of products | paginate:{
          itemsPerPage: paging.size,
          currentPage: paging.page,
          totalItems: paging.totalRecord  } , let i = index" >
          <div class="item-img">
            <img src="{{baseURL}}/{{productURL}}/image/{{itempro.id}}"  alt="img product"class="image">
            <div class="overlay">
              <div class="text">{{itempro.title}}</div>
              <div class="see-more">
                <a href="san-pham/chi-tiet">xem thêm</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>