<div class="d-none d-xl-block ">
<div class="product mt_60">
    <div class="container">
        <div class=" title-about-us mb_30 text-center mt-md-0  "><span class="border-bottom pb-2">sản phẩm</span></div>
        <div class="row " [@myAnimation]="animationState" >
            <div class="col2 ">
                <div class="item-img">
                    <img src="assets/images/blog/blog-1.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                      <div class="text">sản phẩm 1</div>
                      <div class="see-more">
                        <a href="">xem thêm</a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col2 ">
                <div class="item-img">
                    <img src="assets/images/blog/blog-1.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                      <div class="text">sản phẩm 1</div>
                      <div class="see-more">
                        <a href="">xem thêm</a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col2 ">
                <div class="item-img">
                    <img src="assets/images/blog/blog-1.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                      <div class="text">sản phẩm 1</div>
                      <div class="see-more">
                        <a href="">xem thêm</a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col2 ">
                <div class="item-img">
                    <img src="assets/images/blog/blog-1.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                      <div class="text">sản phẩm 1</div>
                      <div class="see-more">
                        <a href="">xem thêm</a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col2 ">
                <div class="item-img">
                    <img src="assets/images/blog/blog-1.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                      <div class="text">sản phẩm 1</div>
                      <div class="see-more">
                        <a href="">xem thêm</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="d-xl-none d-block ">
  <div class="product mt_60">
    <div class="container">
        <div class=" title-about-us mb_30 text-center mt-md-0  "><span class="border-bottom pb-2">sản phẩm</span></div>
        <div class="row" >
            <div class="col2 ">
                <div class="item-img">
                    <img src="assets/images/blog/blog-1.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                      <div class="text">sản phẩm 1</div>
                      <div class="see-more">
                        <a href="">xem thêm</a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col2 ">
                <div class="item-img">
                    <img src="assets/images/blog/blog-1.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                      <div class="text">sản phẩm 1</div>
                      <div class="see-more">
                        <a href="">xem thêm</a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col2 ">
                <div class="item-img">
                    <img src="assets/images/blog/blog-1.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                      <div class="text">sản phẩm 1</div>
                      <div class="see-more">
                        <a href="">xem thêm</a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col2 ">
                <div class="item-img">
                    <img src="assets/images/blog/blog-1.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                      <div class="text">sản phẩm 1</div>
                      <div class="see-more">
                        <a href="">xem thêm</a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col2 ">
                <div class="item-img">
                    <img src="assets/images/blog/blog-1.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                      <div class="text">sản phẩm 1</div>
                      <div class="see-more">
                        <a href="">xem thêm</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>