
<app-header></app-header>
<div class="title mb-md-3 mb-2 ">
    chọn phòng
</div>
<p><i class="fa-solid fa-hotel"></i> còn <span>10</span> phòng trống cho quý khách chọn lựa</p>

<div class="room-list mb_30 ">
    <div class="d-md-block d-none ">
    <table class="table  border ">
        <thead >
          <tr class="header-table" >
            <th scope="col" class="w-25" >Ảnh phòng</th>
            <th scope="col" class="w-25">Phòng</th>
            <th scope="col" class="w-25" >Loại phòng</th>
            <th scope="col" class="w-25" >Giá phòng/đêm</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">
              <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="1500">
                    <img src="assets/images/room/room-1.jpg" class="d-block w-100" alt="room">
                  </div>
                  <div class="carousel-item" data-bs-interval="1000">
                    <img src="assets/images/room/room-2.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="1000" >
                    <img src="assets/images/room/room-3.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </td>
            <td class="text-start room-td ">
              <p class="mb-2 max-2line ">Phòng Superior giường Queen (Superior Queen Room)</p>
              <li>
                <i class="fa-regular fa-hand-point-right"></i> 1 giường đôi lớn
              </li>
              <li>
                <i class="fa-regular fa-hand-point-right"></i> Diện tích phòng: 18 m²
              </li>
              <li>
                <i class="fa-regular fa-hand-point-right"></i> Ban công/sân hiên
              </li>
              <li>
                <i class="fa-regular fa-hand-point-right"></i> Vòi sen
              </li>
            </td>
            <td>
              <i class="fa-solid fa-person-shelter"></i> 
              <p>
                phòng đôi từ 2-3 người
              </p>
            </td>
            <td>
              <div class="btn-love-book  " >
                <div class="price mb-xl-3 mb-lg-2 " >500.000 <span>đ</span></div>
                <p class="mb-md-2 mb-lg-2 mb-xl-3" >Còn <span>2</span> phòng giống như này</p>
                <button class="btn-book-room  mb-md-2 mb-lg-2 mb-xl-3 " >đặt ngay</button>
                <button class="like-room  ">Thêm phòng yêu thích</button>
              </div>
            </td>
          </tr>
          <tr>
            <td scope="row">
              <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="1500">
                    <img src="assets/images/room/room-1.jpg" class="d-block w-100" alt="room">
                  </div>
                  <div class="carousel-item" data-bs-interval="1000">
                    <img src="assets/images/room/room-2.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="1000" >
                    <img src="assets/images/room/room-3.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </td>
            <td class="text-start room-td ">
              <li>
                <i class="fa-regular fa-hand-point-right"></i> 1 giường đôi lớn
              </li>
              <li>
                <i class="fa-regular fa-hand-point-right"></i> Diện tích phòng: 18 m²
              </li>
              <li>
                <i class="fa-regular fa-hand-point-right"></i> Ban công/sân hiên
              </li>
              <li>
                <i class="fa-regular fa-hand-point-right"></i> Vòi sen
              </li>
            </td>
            <td>
              <i class="fa-solid fa-person-shelter"></i> 
              <p>
                phòng đôi từ 2-3 người
              </p>
            </td>
            <td>
              <div class="btn-love-book  " >
                <div class="price mb-xl-3 mb-lg-2 " >500.000 <span>đ</span></div>
                <p class="mb-md-2 mb-lg-2 mb-xl-3" >Còn <span>2</span> phòng giống như này</p>
                <button class="btn-book-room  mb-md-2 mb-lg-2 mb-xl-3 " >đặt ngay</button>
                <button class="like-room  ">Thêm phòng yêu thích</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- mobile -->
    <div class="d-md-none d-block">
      <div class="row mt-5 border py-3">
        <div class="col-md-12">
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="1500">
                <img src="assets/images/room/room-3.jpg" class="d-block w-100" alt="room">
              </div>
              <div class="carousel-item" data-bs-interval="1000">
                <img src="assets/images/room/room-4.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="1000" >
                <img src="assets/images/room/room-6.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="title-room text-center mt-2 max-2line ">
            Phòng Superior giường Queen (Superior Queen Room)
          </div>
          <div class="tiennghi-mobile" >
            <li>
              <i class="fa-regular fa-hand-point-right"></i> 1 giường đôi lớn
            </li>
            <li>
              <i class="fa-regular fa-hand-point-right"></i> Diện tích phòng: 18 m²
            </li>
            <li>
              <i class="fa-regular fa-hand-point-right"></i> Ban công/sân hiên
            </li>
            <li>
              <i class="fa-regular fa-hand-point-right"></i> Vòi sen
            </li>
          </div>
          <div class="btn-love-book  " >
            <div class="price mb-2 ">
              <span class="border-0 fw-normal text-dark " >Giá:</span> 500.000 <span>đ</span><span class="border-0 fw-normal text-dark " > / đêm</span> </div>
            <p class="mb-3" >Còn <span>2</span> phòng giống như này</p>
            <button class="btn-book-room  mb-3 " >đặt ngay</button>
            <button class="like-room  ">Thêm phòng yêu thích</button>
          </div>
        </div>
      </div>
      <div class="row mt-5 border py-3">
        <div class="col-md-12">
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="1500">
                <img src="assets/images/room/room-3.jpg" class="d-block w-100" alt="room">
              </div>
              <div class="carousel-item" data-bs-interval="1000">
                <img src="assets/images/room/room-4.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="1000" >
                <img src="assets/images/room/room-6.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="title-room text-center mt-2 max-2line ">
            Phòng Superior giường Queen (Superior Queen Room)
          </div>
          <div class="tiennghi-mobile" >
            <li>
              <i class="fa-regular fa-hand-point-right"></i> 1 giường đôi lớn
            </li>
            <li>
              <i class="fa-regular fa-hand-point-right"></i> Diện tích phòng: 18 m²
            </li>
            <li>
              <i class="fa-regular fa-hand-point-right"></i> Ban công/sân hiên
            </li>
            <li>
              <i class="fa-regular fa-hand-point-right"></i> Vòi sen
            </li>
          </div>
          <div class="btn-love-book  " >
            <div class="price mb-2 ">
              <span class="border-0 fw-normal text-dark " >Giá:</span> 500.000 <span>đ</span><span class="border-0 fw-normal text-dark " > / đêm</span> </div>
            <p class="mb-3" >Còn <span>2</span> phòng giống như này</p>
            <button class="btn-book-room  mb-3 " >đặt ngay</button>
            <button class="like-room  ">Thêm phòng yêu thích</button>
          </div>
        </div>
      </div>
      
    </div>
</div>