

/*** Feature ***/
.feature {
    background: #192a56 url('/assets/images/bg_tieubieu.png') ;
    /* background-size: cover; */
}
.title{
    text-transform: uppercase;
    color: white ;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.icon-num{
    font-size: 2.5em;
}


@media (max-width:767.98px) {
    .item-number:not(:last-child){
        margin-bottom: 18px;
    }
    .icon-num{
        font-size: 2em;
    }
}