<div class="feature mt_60 pt_40 pb_60 ">
    <div class="container ">
        <div class="title">
            <span class="border-bottom pb-2">con số tiêu biểu</span>
        </div>
        <div class="row mt-4 mt-md-5 justify-content-between ">
            <div class="col-md-3 item-number ">
                <div class="row rounded py-3" style="background: rgba(256, 256, 256, 0.1);">
                    <div class="col-md-4 d-flex justify-content-center align-items-center ">
                        <i class=" fa fa-users  text-white icon-num"></i>
                    </div>
                    <div class=" col-md-8 text-md-start text-center ">
                        <app-animation-digit [digit]="100" ></app-animation-digit>
                        <p class="text-white mb-0">Happy Clients</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 item-number ">
                <div class="row rounded py-3" style="background: rgba(256, 256, 256, 0.1);">
                    <div class="col-md-4 d-flex justify-content-center align-items-center ">
                        <i class=" fa fa-users  text-white icon-num"></i>
                    </div>
                    <div class=" col-md-8 text-md-start text-center ">
                        <app-animation-digit [digit]="100" ></app-animation-digit>
                        <p class="text-white mb-0">Happy Clients</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 item-number ">
                <div class="row rounded py-3" style="background: rgba(256, 256, 256, 0.1);">
                    <div class="col-md-4 d-flex justify-content-center align-items-center ">
                        <i class=" fa fa-users  text-white icon-num"></i>
                    </div>
                    <div class=" col-md-8 text-md-start text-center ">
                        <app-animation-digit [digit]="100" ></app-animation-digit>
                        <p class="text-white mb-0">Happy Clients</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>