<app-header></app-header>

<div class="bg-light mt-header mb-3">
    <nav aria-label="breadcrumb " class="py-3 py-2 container ">
        <ol class="breadcrumb mb-0 text-capitalize ">
            <li class="breadcrumb-item"><a class="text-primary" href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">sản phẩm</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="title mb-4 ">
        sản phẩm
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="sapxep row d-none d-md-flex ">
                <p class="mb-sm-0 mb-2 fw-bold col-sm-2 ">Sắp xếp:</p>
                <button class="btn-sapxep mb-sm-0 mb-2 col-sm-3">Giá thấp nhất</button>
                <button class="btn-sapxep mb-sm-0 mb-2 col-sm-3">Giá cao nhất</button>
            </div>
            <!-- mobile sắp xếp -->
            <div class="d-flex d-md-none sapxep row">
                <a class="btn-sapxep mb-0 col-sm-3" data-bs-toggle="collapse" href="#chonloc" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa-solid fa-filter me-2"></i> Chọn lọc
                </a>
            </div>
            <div class="collapse" id="chonloc">
                <div class="filter">
                    <div class="rating box-filter ">
                        <button class="btn-sapxep mb-sm-0 mb-2 col-sm-3">Giá thấp nhất</button>
                        <button class="btn-sapxep mb-sm-0 mb-2 col-sm-3">Giá cao nhất</button>
                    </div>
                </div>
            </div>
            <div class="card w-100 item">
                <div class="row ">
                    <div class="col-5 col-lg-4 ">
                        <img class="h-100 img-item w-100" src="assets/images/utc-uav-ai/img-uav.jpg" alt="">
                    </div>
                    <div class="col-7 col-lg-6 body-item ">
                        <div class="card-title max-2line ">
                            Inside Park Bike Tour and Space Center Houston Admissi Bike Tour and Space Center
                            Houston Admission
                        </div>
                        <div class="rate">
                            <p>
                                Công dụng: <span>rất tốt</span>
                            </p>
                        </div>
                        <div class="rate">
                            <p class="m-0" >
                                Màu: <span>đen</span>
                            </p>
                        </div>
                        <div class="price">
                            <span class="text-black-50">Giá sản phẩm :</span>
                            <span class="sotien fs-4 fw-bold "> 1.000.000</span>
                            <span class="text-black-50 fs-5">₫</span>
                        </div>
                    </div>
                    <div class="col-lg-2 mt-2 mt-lg-0 more-item ">
                        <a href="san-pham/chi-tiet">
                            <button class="view-room-item me-lg-3 mb-3 mb-md-0 ">xem thêm</button>
                        </a>
                        <button type="button" class="btn btn-primary me-lg-3 mb-3 mb-md-0 btn-buy " data-bs-toggle="modal"
                            data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">mua ngay</button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog  modal-dialog-scrollable ">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="mb-3">
                                                <label for="recipient-name" class="col-form-label">Recipient:</label>
                                                <input type="text" class="form-control" id="recipient-name">
                                            </div>
                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label">Message:</label>
                                                <textarea class="form-control" id="message-text"></textarea>
                                            </div>
                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label">Message:</label>
                                                <textarea class="form-control" id="message-text"></textarea>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Send message</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <app-news-more></app-news-more>
            <div class="my-5"></div>
            <app-link-web-home></app-link-web-home>
            <div class="my-5"></div>
        </div>
    </div>
</div>

<app-footer></app-footer>