<app-header></app-header>

<div class="bg-light mt-header mb-3">
    <nav aria-label="breadcrumb " class="py-3 py-2 container ">
        <ol class="breadcrumb mb-0 text-capitalize ">
            <li class="breadcrumb-item"><a class="text-primary" href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">sản phẩm</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="title mb-3 mb-md-5 ">
        sản phẩm
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="w-100 item" *ngFor="let itemPro of productList | paginate: {
                id: 'product',
                itemsPerPage: paging.size,
                currentPage: paging.page,
                totalItems: paging.totalRecord } ;let i = index ">
                <div class="bg-radius">
                    <div class="row ">
                        <div class="col-12 col-md-5 col-lg-4 ">
                            <a href="san-pham/{{itemPro.url}}">
                                <img class="img-item w-100" src="{{baseURL}}/{{productURL}}/image/{{itemPro.id}}"
                                    alt="image">
                            </a>
                        </div>
                        <div class="col-12 col-md-7 col-lg-8 body-item mt-md-0 mt-3 ">
                            <div class=" title-item ">
                                <a href="san-pham/{{itemPro.url}}" class="max-3line">
                                    {{itemPro.title}}
                                </a>
                            </div>
                            <div class="des">
                                <p class="max-2line">
                                    {{itemPro.description}}
                                </p>
                            </div>
                            <div class=" date">
                                <p class="m-0 time ">
                                    <i class="fa-regular fa-calendar-days"></i> <span class="ms-1">{{itemPro.date |
                                        date:'dd-MM-yyyy'}}</span>
                                </p>
                                <p class="mb-0 more-item ">
                                    <a href="san-pham/{{itemPro.url}}"
                                        class="view-room-item mx-2 mb-3 mb-md-0 text-center ">
                                        xem thêm
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center  " *ngIf="paging.totalRecord >0">
                    <div class="mt_30">
                        <pagination-controls previousLabel="<" nextLabel=">" [id]="'product'"
                            (pageChange)="handlePageChange($event)"
                            [maxSize]="paging.totalRecord"></pagination-controls></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <app-posts-more></app-posts-more>
            <div class="my-5"></div>
            <app-link-web-home></app-link-web-home>
            <div class="my-5"></div>
        </div>
    </div>
</div>

<app-footer></app-footer>