<app-header></app-header>

<div class="bg-light mt-header mb-3">
    <nav aria-label="breadcrumb " class="py-3 py-2 container ">
        <ol class="breadcrumb mb-0 text-capitalize ">
            <li class="breadcrumb-item"><a class="text-primary" href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">sản phẩm</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="title mb-4 ">
        sản phẩm
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="w-100 item">
                <div class="bg-radius">
                    <div class="row ">
                        <div class="col-12 col-md-5 col-lg-4 ">
                            <a href="san-pham/chi-tiet" >
                                <img class="img-item w-100" src="../../../../../assets/images/blog/blog-10.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-12 col-md-7 col-lg-8 body-item mt-md-0 mt-3 ">
                            <div class=" title-item ">
                                <a href="san-pham/chi-tiet"  class="max-3line"  >
                                    Inside Park Bike Tour and Space Center Houston Admissi Bike Tour and Space Center
                                    Houston AdmissBike Tour and Space Center Houston Admissi Bike Tour and Space Center
                                    Houston Admiss ion
                                </a>
                            </div>
                            <div class="des">
                                <p class="max-2line">
                                    mô tả e  Bike Tour and Space Center Houston Admissi Bike Tour and Space Center
                                    Houston Admiss Park Bike Tour and Space Center Houston Admissi Bike Tour and Space Center
                                    Houston Adm
                                </p>
                            </div>
                            <div class=" date">
                                <p class="m-0 time " >
                                    <i class="fa-regular fa-calendar-days"></i> <span class="ms-1" >09-09-2023</span>
                                </p>
                                <p class="mb-0 more-item ">
                                    <a href="san-pham/chi-tiet" class="view-room-item mx-2 mb-3 mb-md-0 text-center " >
                                        xem thêm
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 item">
                <div class="bg-radius">
                    <div class="row ">
                        <div class="col-12 col-md-5 col-lg-4 ">
                            <a href="san-pham/chi-tiet" >
                                <img class="img-item w-100" src="../../../../../assets/images/blog/blog-10.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-12 col-md-7 col-lg-8 body-item mt-md-0 mt-3 ">
                            <div class=" title-item ">
                                <a href="san-pham/chi-tiet"  class="max-3line"  >
                                    Inside Park Bike Tour and Space Center Houston Admissi Bike Tour and Space Center
                                    Houston AdmissBike Tour and Space Center Houston Admissi Bike Tour and Space Center
                                    Houston Admiss ion
                                </a>
                            </div>
                            <div class="des">
                                <p class="max-2line">
                                    mô tả e  Bike Tour and Space Center Houston Admissi Bike Tour and Space Center
                                    Houston Admiss Park Bike Tour and Space Center Houston Admissi Bike Tour and Space Center
                                    Houston Adm
                                </p>
                            </div>
                            <div class=" date">
                                <p class="m-0 time " >
                                    <i class="fa-regular fa-calendar-days"></i> <span class="ms-1" >09-09-2023</span>
                                </p>
                                <p class="mb-0 more-item ">
                                    <a href="san-pham/chi-tiet" class="view-room-item mx-2 mb-3 mb-md-0 text-center " >
                                        xem thêm
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <app-posts-more></app-posts-more>
            <div class="my-5"></div>
            <app-link-web-home></app-link-web-home>
            <div class="my-5"></div>
        </div>
    </div>
</div>

<app-footer></app-footer>