<app-header></app-header>

<div class="serice">
    <div class="banner">
        <img class="w-100" src="assets/images/banner/service.jpeg" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title mt_60  mb_60 ">
                    <span class="border-bottom pb-2  text-capitalize ">
                        dịch vụ
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="content-service">
                    <p>
                        <span class="muc"> 🏨 Sun Hotel - Dịch vụ ưu tú để tận hưởng kỳ nghỉ hoàn hảo! 🌞</span> 
                        Sun Hotel chào mừng Quý khách đến với một không gian tiện nghi và chất lượng tại 
                        trung tâm thành phố. Với mục tiêu mang đến trải nghiệm tuyệt vời, chúng tôi tự hào cung cấp một 
                        loạt dịch vụ cao cấp để đáp ứng mọi nhu cầu của Quý khách.
                    </p>

                    <p>
                        <span class="muc">🛏️ Phòng nghỉ:</span>
                     Với thiết kế hiện đại và sang trọng, các phòng nghỉ tại Sun Hotel đảm bảo mang đến sự thoải mái và 
                     yên tĩnh nhất. Hãy chọn cho mình một trong những loại phòng tiêu chuẩn, phòng gia đình hoặc suite 
                     cao cấp để nghỉ ngơi sau một ngày dạo chơi.

                    </p>
                    <p>
                        <span class="muc">🍽️ Nhà hàng và quầy bar:</span>
                     Tận hưởng những bữa ăn ngon tuyệt vời tại nhà hàng của chúng tôi. Với đội ngũ đầu bếp tài năng,
                      chúng tôi sẽ cho bạn trải nghiệm những món ăn đa dạng từ ẩm thực địa phương cho đến món quốc tế.
                       Đồng thời, quầy bar sẽ đáp ứng nhu cầu thưởng thức đồ uống của bạn với cocktail tuyệt vời và thực
                        đơn đầy đủ.
                    </p>
                    <p>
                        <span class="muc"> 🏨 Sun Hotel - Dịch vụ ưu tú để tận hưởng kỳ nghỉ hoàn hảo! 🌞</span> 
                        Sun Hotel chào mừng Quý khách đến với một không gian tiện nghi và chất lượng tại 
                        trung tâm thành phố. Với mục tiêu mang đến trải nghiệm tuyệt vời, chúng tôi tự hào cung cấp một 
                        loạt dịch vụ cao cấp để đáp ứng mọi nhu cầu của Quý khách.
                    </p>

                    <p>
                        <span class="muc">🛏️ Phòng nghỉ:</span>
                     Với thiết kế hiện đại và sang trọng, các phòng nghỉ tại Sun Hotel đảm bảo mang đến sự thoải mái và 
                     yên tĩnh nhất. Hãy chọn cho mình một trong những loại phòng tiêu chuẩn, phòng gia đình hoặc suite 
                     cao cấp để nghỉ ngơi sau một ngày dạo chơi.

                    </p>
                    <p>
                        <span class="muc"> 🏨 Sun Hotel - Dịch vụ ưu tú để tận hưởng kỳ nghỉ hoàn hảo! 🌞</span> 
                        Sun Hotel chào mừng Quý khách đến với một không gian tiện nghi và chất lượng tại 
                        trung tâm thành phố. Với mục tiêu mang đến trải nghiệm tuyệt vời, chúng tôi tự hào cung cấp một 
                        loạt dịch vụ cao cấp để đáp ứng mọi nhu cầu của Quý khách.
                    </p>

                    <p>
                        <span class="muc">🛏️ Phòng nghỉ:</span>
                     Với thiết kế hiện đại và sang trọng, các phòng nghỉ tại Sun Hotel đảm bảo mang đến sự thoải mái và 
                     yên tĩnh nhất. Hãy chọn cho mình một trong những loại phòng tiêu chuẩn, phòng gia đình hoặc suite 
                     cao cấp để nghỉ ngơi sau một ngày dạo chơi.

                    </p>
                    <p>
                        <span class="muc"> 🏨 Sun Hotel - Dịch vụ ưu tú để tận hưởng kỳ nghỉ hoàn hảo! 🌞</span> 
                        Sun Hotel chào mừng Quý khách đến với một không gian tiện nghi và chất lượng tại 
                        trung tâm thành phố. Với mục tiêu mang đến trải nghiệm tuyệt vời, chúng tôi tự hào cung cấp một 
                        loạt dịch vụ cao cấp để đáp ứng mọi nhu cầu của Quý khách.
                    </p>
                </div>
                
           </div>
           <div class="col-md-4">
                <img class="w-100" src="assets/images/service/sv3.jpg" alt="">
                <img class="w-100 my-3 " src="assets/images/service/sv1.jpg" alt="">
           </div>
        </div>
    </div>
</div>

<app-footer></app-footer>