<div class="toolbar"></div>
<form (submit)="onSubmit()" class=" mt_30">
    <div class="container  mb_60">
        <div class="boder">
            <div class="title">
                <p class="text-title fs-5">ảnh trình chiếu</p>
            </div>
            <div class="container ">
                <div class="col-lg-12">
                    <div class="update_box">
                        <div class="image">
                            <!-- <img src="{{imageURL}}" alt="" appHideMissing> -->
                            <img src="{{imageURL}}" alt="" appHideMissing *ngIf="imageURL ; else elseBlock ">
                            <ng-template #elseBlock>
                                <img src="../../../../../assets/images/placeholder.png" alt="">
                            </ng-template>
                        </div>
                        <input type="file" accept="image/png, image/jpeg" value="select" (change)="imageChange($event)">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="submit-button col-lg-3 col-md-5 col-sm-5 col-10 mx-auto mb-4">
                        <button type="submit" class="btn btn-primary btn-lg mr-4 w-25 "
                            [disabled]="!disabled">Lưu</button>
                        <button type="button" class="btn btn-secondary btn-lg  cancel w-25"
                            (click)="goToSliderList()">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>