<div class="toolbar"></div>
<form (submit)="onSubmit()" class="section-space--mt_30">
    <div class="container section-space--mb_60">
        <div class="boder">
            <div class="title">
                <p class="text-title fs-5">ẢNH BÌA</p>
            </div>
            <div class="container ">
                <div class="col-lg-12">
                    <div class="update_box">
                        <div class="image">
                            <img src="{{imageURL}}" alt="" appHideMissing>
                        </div>
                        <input type="file" accept="image/png, image/jpeg" value="select" (change)="imageChange($event)">
                    </div>
                </div>
                <div class="col-lg-12">
                    <!-- <div class="update_box">
                    <h3 style="color: #37bd3e; margin-top: 0px;">Thông tin</h3>
                    <input type="text"  name="url" [(ngModel)]="slider.url" placeholder="liên kết">
                </div> -->
                    <div class="submit-button col-lg-3 col-md-5 col-sm-5 col-10 mx-auto mb-4">
                        <button type="submit" class="btn btn-primary btn-lg mr-4 "
                            [disabled]="!disabled">Lưu</button>
                        <button type="button" class="btn btn-secondary btn-lg  cancel "
                            (click)="goToSliderList()">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>