
.header-menu{
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  .searchinput{
    border-radius: 5px;
    align-items: center;
    background-color: #EAEFF4;
    border: 1px solid #F6F9FC;
    height: 30px;
    width: 50%;
   }
   input:focus{
    border: 1px solid #111111;
    color: black;
  }
  .item-blog{
    margin-top: 30px;
  }
  .form-control{
    height: 30px;
    font-size: 15px;
    margin-top:7px;
  }

.input-group-text{
    margin-right: 10px;
}

  /*  */
  
   /* view mới */
   .text-title{
    text-transform: uppercase;
    color: #212529;
    font-weight: bold;
    text-align: center;
  }
   .cmt-content{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   }
   .cmt-content:hover{
    text-decoration: none;
   }
   .col-md-2 , .col-md-3, .col-md-4{
    text-align: center;
   }
   .card-list{
    height: max-content;
    border-radius: 0px;
   }
.list-cmt{
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-height: 620px;
}
.list-cmt::-webkit-scrollbar{
  width: 0px !important;
  display: none;
}
.pos-title{
  display: block; /* Fallback trong trường hợp trình duyệt không hỗ trợ display dạng box */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  /* xác định hướng của bố cục : dọc*/
  overflow: hidden;
  text-overflow: ellipsis;
}

.far{
  font-size:18px
}

.title-comment{
 border-radius: 0px;
 border-bottom: 2px solid #E4E6EF;
 font-size: 16px;
 font-weight: 600;
}
.btn-link{
  text-decoration: none;
}
/* trả lời */
.edit-child:hover{
  text-decoration: underline;
}
.delete-cmt{
  color: rgb(218, 53, 53);
}
.delete-cmt:hover{
  color: #772d2d;
  text-decoration: underline;
}
.dis-enable{
 color: #3781c2;
}
.dis-enable:hover{
  color: #35638c;
  text-decoration: underline;
}

img{
  height: 100%;
  border-radius: 50%;
}
.img-comment{
  text-align: center;
  align-items: center;

}

.tab{
  padding: 8px;
}
.reply-content{
  border: 0.3px solid #e8e8e8;
  background-color: #f8f8f8;
  border-radius: 5px;
  max-width: fit-content;
}
.child-content{
  width: 100%;
  display: block; /* Fallback trong trường hợp trình duyệt không hỗ trợ display dạng box */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  /* xác định hướng của bố cục : dọc*/
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-reply-parent{
  height: 80px;
}
/* chi tieest mowsi =====*/


.info-comment{
  font-size: 14px;
}
.btn-update{
  width: 10%;
}
.btn-edit{
  border-radius: 5px;
  border: none;
}

.edit-cmtchild{
  width: 90%;
  height: 8em;
  overflow: auto;
   resize: vertical;
   border: 1px solid gainsboro;
   font-family: "Open Sans",Arial,sans-serif;
}
.edit-cmtchild:focus{
  color: #171717;
  border: 1px solid gainsboro;
}

.w-20{
  width: 20% !important;
}
.icon-item:hover{
  background-color: #cacaca;
}
.table-cmt{
  width: 98%;
  margin: 0 auto;
}
.card{
  border: 1px solid rgb(226 226 226);
  box-shadow: 0px 0px 12px 6px rgba(0,0,0,0.06);
}
.boder{
  border-bottom: 1px solid #E4E6EF;
}
@media screen and (max-width:576px)  {
  .w-20{
    width: 30% !important;
  }
}
/* tìm kiếm */
.search{
    border-radius: 5px;
    height: 30px;
    align-items: center;
    background-color: #EAEFF4;
    border: 1px solid rgb(230, 231, 232);
    padding: 15px;
  
    }
    
    .input-search:focus{
    color: black;
    border: 1px solid rgb(164, 164, 164);
    }
    .input-search:focus-visible{
    border: 1px solid rgb(164, 164, 164) !important;
    }
    
    .form-search{
    position: relative;
    width: 200px;
  
    }
    .icon-search{
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    }
    .icon-search button{
    background-color: unset;
    }
    