<app-header></app-header>

<div class="bg-light mt-header mb-3 mb-md-4">
    <nav aria-label="breadcrumb " class="py-3 py-2 container ">
        <ol class="breadcrumb mb-0 text-capitalize ">
          <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
          <li class="breadcrumb-item"><a href="gioi-thieu/thanh-vien">đội ngũ nghiên cứu</a></li>
          <li class="breadcrumb-item active" aria-current="page">tên thành viên</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="title mb-2 mb-md-3 ">
                thông tin cơ bản
            </div>
            <div class="row mb_60 ">
                <div class="col-sm-3">
                    <div class="image">
                        <img class="w-100 h-100" src="assets/images/team-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-sm-9">
                    <table class="table-info " >
                        <tbody>
                            <tr>
                                <td class="r-o  title-info ">học và tên</td>
                                <td>: 30 ft</td>
                            </tr>
                            <tr>
                                <td class="r-o title-info ">năm sinh</td>
                                <td>: Max persion 5</td>
                            </tr>
                            <tr>
                                <td class="r-o title-info ">chức vụ</td>
                                <td>: King Beds</td>
                            </tr>
                            <tr>
                                <td class="r-o title-info ">học vị</td>
                                <td>: tiến sĩ</td>
                            </tr>
                            <tr>
                                <td class="r-o title-info ">năm tham gia</td>
                                <td>: tiến sĩ</td>
                            </tr>
                            <tr>
                                <td class="r-o title-info ">điện thoại</td>
                                <td>: tiến sĩ</td>
                            </tr>
                            <tr>
                                <td class="r-o title-info ">email</td>
                                <td>: tiến sĩ</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <app-link-web-home></app-link-web-home>
        </div>
    </div>
</div>

<app-footer></app-footer>