<app-header></app-header>

<img width="100%" src="assets/images/banner/banner-aboutus.jpg" class="fuild-img wp-post-image banner " alt=""
    loading="lazy">

<div class="news-detail mt-3 mt-md-4 mb-3 mb-md-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-news mb-2 mb-md-3 ">
                            CỬA LÒ – ĐOÀN KẾT, YÊU THƯƠNG VÀ GẮN BÓ
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="post-meta">
                            <div class="post-date">
                                <i class="fa-regular fa-calendar-days"></i>
                                01-01-2023
                              </div>
                            <div class="share text-right ">
                                <a target="_blank"
                                    href="https://www.facebook.com/"
                                    class="icon-share  " title="Chia sẻ Facebook">
                                    <i class="fa-brands fa-square-facebook fb "></i>
                                </a>
                                <a target="_blank"
                                    href="https://twitter.com/"
                                    class="icon-share" title="Chia sẻ Twitter" >
                                    <i class="fa-brands fa-square-x-twitter tw "></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="post-content lh-base mt-1 mt-md-2 ">
                            "DENSO Factory Hacks 2023" là Hackathon dành riêng cho cộng đồng đam mê công nghệ, đưa ra ý tưởng giải quyết bài toán trong lĩnh vực sản xuất, thiết kế và vận hành trong nhà máy DENSO bằng các công nghệ cốt lõi như dữ liệu, trí tuệ nhân tạo, thực tế ảo (AR/VR), Internet vạn vật, điện toán đám mây,...
                            Tham gia cuộc thi, các bạn sẽ được hướng dẫn - thực hành - trải nghiệm trực quan tại nhà máy sản xuất của DENSO Việt Nam và làm việc trao đổi cùng các chuyên gia hàng đầu của FPT & DENSO, đồng thời có cơ hội nhận giải thưởng với tổng trị giá lên tới 200 triệu đồng.
                        
                        1.ĐỐI TƯỢNG DỰ THI:
                        - Nhân sự trong ngành công nghệ hoặc Sinh viên công nghệ thông tin, điện tử viễn thông, tự động hóa, cơ điện tử... và các bạn trẻ đam mê công nghệ, yêu thích sáng tạo.
                        
                        Có kiến thức căn bản về một trong những mảng công nghệ sau:
                        - Khoa học Dữ liệu: có kiến thức, hiểu biết hoặc kinh nghiệm về việc xử lý dữ liệu lớn với một trong số các công cụ hoặc ngôn ngữ như Python, R, Golang, Java, SQL, No-SQL, ETL Tool, Oracle/SQL Server...
                        - Trí tuệ nhân tạo: yêu thích và có kiến thức cơ bản xây dựng các model Machine Learning, Deep Learning, Reinforcement Learning...
                        - Internet vạn vật: có kiến thức căn bản về lập trình C, vi điều khiển, yêu thích tìm hiểu lĩnh vực IoT/Embedded...
                        - Yêu thích tìm hiểu về lĩnh vực Data, AI, IoT…
                        - Tích cực, trách nhiệm, chủ động và teamwork hiệu quả
                        
                        2.ĐĂNG KÝ DỰ THI:
                        - Mỗi đội thi tối đa 5 thành viên, đến từ tất cả quốc gia và vùng lãnh thổ
                        - Số lượng đội thi chính thức tối đa 20 đội.
                        - Với các thành viên đăng kí lẻ, BTC sẽ hỗ trợ kết nối và thành lập đội thi.
                        - Trong trường hợp có nhiều hơn 20 đội đăng ký, BTC tổ chức vòng sơ loại để chọn ra 20 đội thi chính thức. 
                        
                        3.THỂ LỆ CUỘC THI:
                        - Các đội thi sẽ xây dựng các ý tưởng và ứng dụng công nghệ để giải quyết các bài toán thực tế trong nhà máy sản xuất của DENSO trong vòng 3 tháng, bao gồm việc thu thập và làm sạch dữ liệu bằng các giải pháp phần mềm hoặc triển khai các giải pháp công nghệ khác hướng tới mục tiêu giải quyết các thách thức và tối ưu quy trình vận hành - sản xuất dựa theo mô hình 5 dòng chảy (đọc thêm về "The Five Flows" tại đây)​.
                        - Đề tài thi Ban tổ chức sẽ hướng dẫn đề bài trong buổi Bootcamp đầu tiên vào 10/10
                        - Mỗi đội thi sẽ có một mentor của BTC hỗ trợ, và tham gia các workshop training về xử lý dữ liệu và lập trình cho các thiết bị (nếu cần). Top10 đội thi xuất sắc sẽ được hỗ trợ kinh phí 5M/đội để phát triển các sản phẩm, giải pháp.
                        - Trong trường hợp cần cung cấp bổ sung thông tin dữ liệu hoặc các yêu cầu về phần cứng, các đội thi đề xuất với BTC đễ được xem xét hỗ trợ.
                        - Các đội thi nộp và trình bày sản phẩm/ ý tưởng để BTC chấm điểm và trao giải thưởng. (Thể lệ chi tiết xem tại đây)
                        
                        4.LỘ TRÌNH CUỘC THI (Dự kiến)
                        - 05/09 - 05/10: Đăng ký đội thi
                        - 10/10: Bootcamp tại FPT Tower - 10 Phạm Văn Bạch, Cầu Giấy, Hà Nội
                        - 11/10: Tham quan nhà máy DENSO
                        - 17/11: Vòng thi số 1
                        - 09/01/2024 - 10/01/2024: Chung kết & Trao giải
                        
                        LƯU Ý : Thời gian mở link đăng ký từ ngày 05/09/2023 đến hết ngày 05/10/2023.
                        
                        5.GIẢI THƯỞNG
                        Giải thưởng bằng tiền mặt cho các đội thi xuất sắc nhất:
                        · 01 giải nhất: 100.000.000 VND
                        · 01 giải nhì: 50.000.000 VND
                        · 01 giải ba: 30.000.000 VND
                        · 02 giải triển vọng, mỗi giải 10.000.000 VND
                        · Top10 đội thi xuất sắc sẽ được hỗ trợ kinh phí 5M/đội để phát triển các sản phẩm giải pháp
                        
                        6.BAN TỔ CHỨC: 
                        
                        - Cuộc thi được tổ chức bởi DENSO Việt Nam và FPT Software
                        
                        ---------------------------------------------------------------
                        Link đăng ký cuộc thi: https://forms.gle/S9UUsPc4CnXNoEMV8
                        
                        Thông tin liên hệ Fanpage: FPT Software, FPT Software Academy
                                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <app-news-more></app-news-more>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>