
textarea{
    width: 100%;
    height: 8em;
    overflow: auto;
     resize: vertical;
     border: 1px solid gainsboro;
     font-family: "Open Sans",Arial,sans-serif;

}
textarea:focus{
    color: #171717;
    border: 1px solid gainsboro;
}
.delete-cmt{
    color: red;
    cursor: pointer;
}
.delete-cmt:hover{
    text-decoration: underline;
    color: darkred;
}

/* ====== */
.hr{
    width: 99%;
    margin: 0px 0px 10px 0px;    
}
img{
    width: 70%;
    height: 100%;
    border-radius: 50%;
}
.img-comment{
    text-align: center;
    align-items: center;
    margin: 0px 20px 0px 20px;
}

.btn-link:hover{
    text-decoration: none;

}
.reply-submit{
   margin-bottom: 10px;
}

.reply-content{
    border: 0.3px solid #e8e8e8;
    background-color: #f8f8f8;
    padding: 5px;
    border-radius: 5px;
    width: 100%;

}
.child-content{
    width: 100%;
     word-wrap: break-word;
}