<div class="toolbar"></div>
<div class="container">
    <div class="card mb-5 mb-xl-8  mt_30 mx-4">
        <div class="card-header border-0 pt-3">
            <h3 class="card-title align-items-start flex-column">
                <span class="card-label text-uppercase fw-bolder fs-6 mb-1">giới thiệu</span>
            </h3>
        </div>
        <div class="mt_100">
            <div class="row justify-content-center" >
                <div class="col-lg-10">
                    <form (ngSubmit)="onSubmit()" enctype="multipart/form-data" novalidate action="">
                        <div class="mx-auto">
                            <div class="row gx-5">
                                <div class="col-md-6">
                                    <div class="box-input">
                                    <label class="custom-field two w-100">
                                        <input placeholder="&nbsp;" class="w-100 input-field"
                                            (keypress)="numberOnly($event)" type="text" name="hotline"
                                            [(ngModel)]="about.phone" [ngModelOptions]="{standalone: true}" />
                                        <span class="placeholder label-custom lh-base ">hotline
                                        </span>
                                    </label>
                                </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box-input">
                                        <label class="custom-field two w-100">
                                            <input placeholder="&nbsp;" class="w-100 input-field"
                                            (keypress)="numberOnly($event)" type="tel"
                                            [(ngModel)]="about.fax"  name="fax"
                                            [ngModelOptions]="{standalone: true}" />
                                            <span class="placeholder label-custom lh-base ">fax
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box-input">

                                        <label class="custom-field two w-100">
                                            <input type="text" placeholder="&nbsp;" class="w-100 input-field " 
                                            type="email" name="email"  
                                            [(ngModel)]="about.email" [ngModelOptions]="{standalone: true}" required />
                                            <span class="placeholder label-custom ">email</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box-input">
                                        <label class="custom-field two w-100">
                                            <input type="text" placeholder="&nbsp;" class="w-100 input-field " 
                                            name="videoLINK"  [(ngModel)]="about.videoLINK" [ngModelOptions]="{standalone: true}" />
                                            <span class="placeholder label-custom lh-base ">mã nhúng video</span>
                                            <a class="nhungvideo" href="https://support.google.com/youtube/answer/171780?hl=vi"
                                                    target="_blank"><span style="color: rgb(255, 72, 0);"><em>(Hướng dẫn lấy mã
                                                            nhúng)</em></span> </a>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="address-group mb-5 box-input ">
                                        <span ><strong>ĐỊA CHỈ</strong></span>
                                        <div class="address my-2 p-3  ">
                                            <div *ngFor="let item of addressList ">
                                                <div class="py-2 row ">
                                                    <span class="my-auto col-md-10 col-12 "><i class="fa fa-map-marker "></i>
                                                        {{item.address}},{{item.wards}},{{item.district}},{{item.city}} </span>
                                                    <div
                                                        class=" col-md-2 col-12  text-center">
                                                        <button class="me-1 button h-100 mr-md-2 mr-1 mt-md-0 mt-2 "
                                                            (click)="updateAddress(item.id)"> Sửa </button>
                                                        <button class=" button h-100 mt-md-0 mt-2 "
                                                            (click)="deleteAddress(item.id)"> Xóa
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contact-inner">
                                            <button class="btn btn-address " routerLink="address-add">
                                                <i class="fa fa-plus"></i>
                                                <span>Thêm địa chỉ</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box-input ">
                                        <label class="custom-field two w-100">
                                            <textarea name="description" placeholder="&nbsp;" class="w-100 input-field " 
                                            [(ngModel)]="about.project" [ngModelOptions]="{standalone: true}" required 
                                              rows="8">
                                            </textarea>
                                            <span class="placeholder label-custom "> mô tả dự án ở trang chủ</span>
                                        </label>
                                </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box-input ">
                                        <label class="custom-field two w-100">
                                            <textarea name="description" placeholder="&nbsp;" class="w-100 input-field " 
                                            [(ngModel)]="about.member" [ngModelOptions]="{standalone: true}" required 
                                              rows="8">
                                            </textarea>
                                            <span class="placeholder label-custom "> mô tả thành viên ở trang chủ</span>
                                        </label>
                                </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="box-input ">
                                            <label class="custom-field two w-100">
                                                <textarea name="description" placeholder="&nbsp;" class="w-100 input-field " 
                                                [(ngModel)]="about.description" [ngModelOptions]="{standalone: true}" required 
                                                  rows="8">
                                                </textarea>
                                                <span class="placeholder label-custom "> mô tả giới thiệu ở trang chủ</span>
                                            </label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="box-input   ">
                                        <p class="label-custom">    giới thiệu chung</p>
                                        <quill-editor placeholder="&nbsp;" class="border" [modules]="quillConfig"
                                            [(ngModel)]="about.content" [ngModelOptions]="{standalone: true}"></quill-editor>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="box-input   ">
                                        <p class="label-custom">        giới thiệu về uav-ai</p>
                                        <quill-editor placeholder="&nbsp;" class="border" [modules]="quillConfig"
                                            [(ngModel)]="about.contentUav" [ngModelOptions]="{standalone: true}"></quill-editor>
                                    </div>
                                </div>
                                <div class="col-md-4 my-3 mx-auto text-center d-flex justify-content-between ">
                                    <button type="submit" class=" mt-2 mt-sm-0 btn btn-primary btn-lg w-40 "
                                            >Lưu</button>
                                        <button type="button" class=" mt-2 mt-sm-0 btn btn-secondary btn-lg cancel w-40 "
                                        (click)="reload()">Hủy</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>