
  .img-fluid{
    width: 100%;
    border: 1px solid gainsboro;
    border-radius: 5px;
  }
  .item{
    display:inline-block;
    width: 20%;
  }
 .title{
    font-size: 28px;
    margin-bottom: 36px;
    text-align: center;
    font-weight: bold;
    color: burlywood;
 }
 .typical-img{
  background: rgb(254 240 217 / 53%);
 }