<div class="mt_100 mb_80  ">
  <div class="container">
    <div class="title ">
      <span class="text-uppercase border-bottom pb-2 ">
        chỗ nghỉ nổi bật
      </span>
    </div>
  </div>
  
  <div class="typical-img pt-0 pb-5  ">
    <div class="container">
     <div class="row">
      <div class="col-md-3">
        <div class="list-item mt-5 ">
          <div class="img-list-item">
            <a href="" class="w-100 h-100 d-block " >
              <img class="w-100 h-100" src="assets/images/room/room-2.jpg" alt="">
            </a>
          </div>
          <div class="info-list-item">
            <a href="" class="name-hotel max-2line mb-2 ">
              tên khách sạn
            </a>
            <div class="address mb-1 ">
              <i class="fa-solid fa-location-dot me-2"></i> <span>Tên địa chỉ</span>
            </div>
            <div class="rate border-bottom mb-3 pb-3">
              Được đánh giá : <span>tốt</span>
            </div>
            <div class="price">
              Giá từ : 1.000.000 <span>đ</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="list-item mt-5 ">
          <div class="img-list-item">
            <a href="" class="w-100 h-100 d-block " >
              <img class="w-100 h-100" src="assets/images/room/room-2.jpg" alt="">
            </a>
          </div>
          <div class="info-list-item">
            <a href="" class="name-hotel max-2line mb-2 ">
              tên khách sạn
            </a>
            <div class="address mb-1 ">
              <i class="fa-solid fa-location-dot me-2"></i> <span>Tên địa chỉ</span>
            </div>
            <div class="rate border-bottom mb-3 pb-3">
              Được đánh giá : <span>tốt</span>
            </div>
            <div class="price">
              Giá từ : 1.000.000 <span>đ</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="list-item mt-5 ">
          <div class="img-list-item">
            <a href="" class="w-100 h-100 d-block " >
              <img class="w-100 h-100" src="assets/images/room/room-2.jpg" alt="">
            </a>
          </div>
          <div class="info-list-item">
            <a href="" class="name-hotel max-2line mb-2 ">
              tên khách sạn
            </a>
            <div class="address mb-1 ">
              <i class="fa-solid fa-location-dot me-2"></i> <span>Tên địa chỉ</span>
            </div>
            <div class="rate border-bottom mb-3 pb-3">
              Được đánh giá : <span>tốt</span>
            </div>
            <div class="price">
              Giá từ : 1.000.000 <span>đ</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="list-item mt-5 ">
          <div class="img-list-item">
            <a href="" class="w-100 h-100 d-block " >
              <img class="w-100 h-100" src="assets/images/room/room-2.jpg" alt="">
            </a>
          </div>
          <div class="info-list-item">
            <a href="" class="name-hotel max-2line mb-2 ">
              tên khách sạn
            </a>
            <div class="address mb-1 ">
              <i class="fa-solid fa-location-dot me-2"></i> <span>Tên địa chỉ</span>
            </div>
            <div class="rate border-bottom mb-3 pb-3">
              Được đánh giá : <span>tốt</span>
            </div>
            <div class="price">
              Giá từ : 1.000.000 <span>đ</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="list-item mt-5 ">
          <div class="img-list-item">
            <a href="" class="w-100 h-100 d-block " >
              <img class="w-100 h-100" src="assets/images/room/room-2.jpg" alt="">
            </a>
          </div>
          <div class="info-list-item">
            <a href="" class="name-hotel max-2line mb-2 ">
              tên khách sạn
            </a>
            <div class="address mb-1 ">
              <i class="fa-solid fa-location-dot me-2"></i> <span>Tên địa chỉ</span>
            </div>
            <div class="rate border-bottom mb-3 pb-3">
              Được đánh giá : <span>tốt</span>
            </div>
            <div class="price">
              Giá từ : 1.000.000 <span>đ</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="list-item mt-5 ">
          <div class="img-list-item">
            <a href="" class="w-100 h-100 d-block " >
              <img class="w-100 h-100" src="assets/images/room/room-2.jpg" alt="">
            </a>
          </div>
          <div class="info-list-item">
            <a href="" class="name-hotel max-2line mb-2 ">
              tên khách sạn
            </a>
            <div class="address mb-1 ">
              <i class="fa-solid fa-location-dot me-2"></i> <span>Tên địa chỉ</span>
            </div>
            <div class="rate border-bottom mb-3 pb-3">
              Được đánh giá : <span>tốt</span>
            </div>
            <div class="price">
              Giá từ : 1.000.000 <span>đ</span>
            </div>
          </div>
        </div>
      </div>
     </div>
    </div>
  </div>
</div>