
<form (ngSubmit)="onSubmit()" novalidate class="form-block" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-12 ">
<!--          <input name="postId" type="hidden" [(ngModel)] = "comment.postId" class="form-control">-->
            <span class="title">Tên</span>
            <span style="color: red; "  class="title">*</span> <br>
            <div class="form-group fl_icon">
                <div class="icon"><i class="fa fa-user"></i></div>
                <input class="form-input input-username" name="name" type="text" [(ngModel)]="username" required>
            </div>
        </div>
        <div class="col-md-12">
            <span  class="title">Nội Dung</span>
            <span style="color: red; "  class="title">*</span> <br>
            <div class="form-group" style="border: none;">
                <textarea name="content" id="" class="input" cols="30" rows="10" [(ngModel)]="comment.content" required ></textarea>
            </div>
        </div>
        <!-- <a class="btn pull-right" style=" color: #ffffff;">Gửi</a> -->
        <div class="col-md-12">
            <button  type="submit" class="btn-success btn">Bình Luận</button>
        </div>
    </div>
</form>
