<div class="toolbar"></div>

<form [formGroup]="formProject" (ngSubmit)="onSubmit()" enctype="multipart/form-data" novalidate class="mt_30">
  <div class="container mb_60">
    <div class="boder">
      <div class="title">
        <p class="text-title fs-5">dự án</p>
      </div>
      <div class="mt_80">
        <div class="row justify-content-center">
          <div class="col-md-10 ">
            <div class="row">
              <div class="col-md-4 ">
                <div class="box update_box ">
                  <label class="form-label">hình ảnh</label>
                  <div class="w-100">
                    <div class="image borderInput p-0">
                      <img src="{{imageURL}}" alt="" appHideMissing *ngIf="imageURL ; else elseBlock ">
                      <ng-template #elseBlock>
                        <img src="../../../../../assets/images/placeholder.png" alt="">
                      </ng-template>
                    </div>
                    <input class="p-1 p-md-2 w-100 text-input "  accept="image/png, image/jpeg" type="file"
                      value="select" (change)="imageChange($event)">
                  </div>
                </div>
                <div class="listmember mb-md-0 mb-3 mt-3 mt-md-4 mx-md-0 mx-4 ">
                  <label class="form-label">Thành viên trong dự án</label>
                  <div *ngFor="let member of listMember">
                    <input class="me-md-2 me-1" type="checkbox" [value]="member.selected" [checked]="member.selected"
                      (change)="onCheckChangeMember($event, member)" id="flexCheckChecked{{member.id}}">
                    <label for="flexCheckChecked{{member.id}}">{{member.fullName}}</label>
                  </div>
                  <div>
                    <span class="mt-2" >Không tìm thấy thành viên mong muốn ?</span><a target="_blank"
                              href="admin/member/add"><span class="addmember">Thêm mới</span></a>
                  </div>
                </div>
                
              </div>
              <div class="col-md-8">
                <div class="mt_30  mx-md-0 mx-4 ">
                    <label class="custom-field two w-100">
                      <input placeholder="&nbsp;" class="w-100 input-field" 
                      [class.borderError]="!formProject.controls.tieuDe.valid&&!formProject.controls.tieuDe.untouched"
                      [class.text-input]="formProject.controls.tieuDe.valid||formProject.controls.tieuDe.untouched"
                      formControlName="tieuDe" name="name" />
                      <span class="placeholder label-custom lh-base "><span class="validateText">*</span>tên dự án</span>
                    </label>
                  <p *ngIf="!formProject.controls.tieuDe.valid&&!formProject.controls.tieuDe.untouched"
                    class="validateText">Thông tin không thể bỏ trống</p>
                </div>
                <div class="mt_30 mx-md-0 mx-4 ">
                    <label class="custom-field two w-100 mb-0 ">
                      <textarea placeholder="&nbsp;" class="w-100 input-field " style="height: 150px;"
                      [class.borderError]="!formProject.controls.moTa.valid&&!formProject.controls.moTa.untouched"
                    [class.text-input]="formProject.controls.moTa.valid||formProject.controls.moTa.untouched"
                    formControlName="moTa" name="description" ></textarea>
                      <span class="placeholder label-custom lh-base "><span class="validateText">*</span>mô tả</span>
                    </label>
                  <p *ngIf="!formProject.controls.moTa.valid&&!formProject.controls.moTa.untouched"
                    class="validateText">Thông tin không thể bỏ trống</p>
                </div>
                <div class="mt-3 mt-md-3 mx-md-0 mx-4 editor-quill ">
                  <label class="form-label"><span class="validateText">*</span>nội dung</label>
                  <quill-editor [(ngModel)]="project.content"  [modules]="quillConfig"
                    [ngModelOptions]="{standalone: true}" placeholder="Nhập nội dung" ></quill-editor>
                </div>
              </div>
              <div class="col-lg-4 col-md-5 col-8 col-ms-6 mt-4 mb_30 mx-auto">
                <button type="submit" class=" mt-2 mt-sm-0 btn btn-primary btn-lg btnn"
                  [disabled]="!formProject.valid">Lưu</button>
                <button type="button" class=" mt-2 mt-sm-0 btn btn-secondary btn-lg  cancel"
                  (click)="goToBack()">Hủy</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
