<div class="toolbar">

</div>

<form [formGroup]="formProject" (ngSubmit)="onSubmit()" enctype="multipart/form-data" novalidate class="mt_30">
  <div class="container mb_60">
    <div class="boder">
      <div class="title">
        <p class="text-title fs-5">dự án</p>
      </div>
      <div class="mt_80">
        <div class="row justify-content-center">
          <div class="col-md-10 ">
            <div class="row">
              <div class="col-md-4 ">
                <div class="box update_box ">
                  <label class="form-label">hình ảnh</label>
                  <div class="w-100">
                    <div class="image borderInput p-0">
                      <img src="{{imageURL}}" alt="" appHideMissing *ngIf="imageURL ; else elseBlock ">
                      <ng-template #elseBlock>
                        <img src="../../../../../assets/images/placeholder.png" alt="">
                      </ng-template>
                    </div>
                    <input class="p-1 p-md-2 w-100 text-input " accept="image/png, image/jpeg" type="file"
                      value="select" (change)="imageChange($event)">
                  </div>
                </div>
                <div class="box update_box ">
                  <label class="form-label"><span class="validateText">*</span>thời gian bắt đầu</label>
                  <input class=" input-custom   w-100" type="month"
                    [class.borderError]="!formProject.controls.ngayHoanThanh.valid&&!formProject.controls.ngayHoanThanh.untouched"
                    [class.text-input]="formProject.controls.ngayHoanThanh.valid||formProject.controls.ngayHoanThanh.untouched"
                    formControlName="ngayHoanThanh" name="startDate" placeholder="Hãy nhập tiêu đề">
                  <p *ngIf="!formProject.controls.ngayHoanThanh.valid&&!formProject.controls.ngayHoanThanh.untouched"
                    class="validateText">Thông tin không thể bỏ trống</p>
                </div>
                <div class="box update_box ">
                  <label class="form-label"><span class="validateText">*</span>thời gian hoàn thành</label>
                  <input class=" input-custom   w-100" type="month"
                    [class.borderError]="!formProject.controls.ngayKetThuc.valid&&!formProject.controls.ngayKetThuc.untouched"
                    [class.text-input]="formProject.controls.ngayKetThuc.valid||formProject.controls.ngayKetThuc.untouched"
                    formControlName="ngayKetThuc" name="endtDate" placeholder="Hãy nhập tiêu đề">
                  <p *ngIf="!formProject.controls.ngayKetThuc.valid&&!formProject.controls.ngayKetThuc.untouched"
                    class="validateText">Thông tin không thể bỏ trống</p>
                </div>
              </div>
              <div class="col-md-8">
                <div class="mt-3 mt-lg-0 mx-md-0 mx-4 ">
                  <label class="form-label"><span class="validateText">*</span>tiêu đề</label>
                  <input class=" input-custom   w-100   "
                    [class.borderError]="!formProject.controls.tieuDe.valid&&!formProject.controls.tieuDe.untouched"
                    [class.text-input]="formProject.controls.tieuDe.valid||formProject.controls.tieuDe.untouched"
                    formControlName="tieuDe" name="name" placeholder="Hãy nhập tiêu đề">
                  <p *ngIf="!formProject.controls.tieuDe.valid&&!formProject.controls.tieuDe.untouched"
                    class="validateText">Thông tin không thể bỏ trống</p>
                </div>
                <div class="mt-3 mt-md-4 mx-md-0 mx-4 ">
                  <label class="form-label"><span class="validateText">*</span>Mô tả</label>
                  <textarea class="input-custom w-100 " rows="2"
                    [class.borderError]="!formProject.controls.moTa.valid&&!formProject.controls.moTa.untouched"
                    [class.text-input]="formProject.controls.moTa.valid||formProject.controls.moTa.untouched"
                    formControlName="moTa" name="description" placeholder="Nhập mô tả"></textarea>
                  <p *ngIf="!formProject.controls.moTa.valid&&!formProject.controls.moTa.untouched"
                    class="validateText">Thông tin không thể bỏ trống</p>
                </div>
                <div class="mt-3 mt-md-4 mx-md-0 mx-4 editor-quill ">
                  <label class="form-label"><span class="validateText">*</span>nội dung</label>
                  <quill-editor [(ngModel)]="project.content" placeholder="Enter Text" [modules]="quillConfig"></quill-editor>
                </div>
              </div>
              <div class="col-lg-4 col-md-5 col-8 col-ms-6 mt-4 mb_30 mx-auto">
                <button type="submit" class=" mt-2 mt-sm-0 btn btn-primary btn-lg btnn"
                  [disabled]="!formProject.valid">Lưu</button>
                <button type="button" class=" mt-2 mt-sm-0 btn btn-secondary btn-lg  cancel"
                  (click)="goToBack()">Hủy</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>